<div class="nopadding col-lg-12 col-md-12 col-sm-12">
    <div class="nopadding ">
        <div class="contain">
            <div class=" heading">
                <span class="leftheading">Employee</span>
            </div>
            <form [formGroup]="form">
                <div class="maindiv row ">
                    <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <span class="client_name_head_text">Name <span class="star">*</span></span>
                                <div class="input_text">
                                    <input maxlength="60" type="text" class="text" formControlName="name" (click)="deleteValidations()" placeholder="Enter"
                                    (keyup)="keyUpMultipleSpaceValidation($event)">
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                <div *ngIf="!!name.errors.required">Please Enter name.</div>
                                <div *ngIf="!!name.errors.minlength">Name Should be greater than 3 Character.</div>
                                <div *ngIf="!!name.errors.pattern">Please Enter Valid Name.</div>
                            </div>
                        </div>
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <span class="client_name_head_text">SBU Selection <span class="star">*</span></span>
                                <div class="ui-fluid">
                                <div class="drop_list_client_name">
                                    <p-autoComplete formControlName="sbu" [suggestions]="filteredsbusresults"
                                        (completeMethod)="searchsbu($event)" field="label" dataKey="id" [size]="30"
                                        [minLength]="1" placeholder="Enter or Search or Select" [dropdown]="true"
                                        (onDropdownClick)="sbudropdown()" (onFocus)="deleteValidations()"
                                        (keyup)="keyUpMultipleSpaceValidation($event)" (onSelect)="clearVal()"
                                        (keypress)="setVal()" (onUnselect)="setVal()">
                                    </p-autoComplete>
                                </div>
                                </div>
                            </div>
                            <!-- <div class="alert alert-danger " *ngIf="sbu.touched && sbu.invalid">
                                Please select the SBU
                            </div> -->
                            <div class="alert alert-danger" *ngIf="sbu.touched && sbu.invalid">
                                <div *ngIf="!!sbu.errors.required"> Please select the SBU</div>
                                <div *ngIf="!!sbu.errors.pattern">Please Enter Valid Name.</div>
                            </div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <span class="client_name_head_text">User Name / Email id <span class="star">*</span></span>
                                <div class="input_text">
                                    <input type="text" class="text" formControlName="email" (click)="deleteValidations()" placeholder="Enter"
                                    (keyup)="keyUpMultipleSpaceValidation($event)">
                                </div>
                            </div>
                            <div class="alert alert-danger " *ngIf="email.touched && email.invalid">
                                <div *ngIf="!!email.errors.required">Please Enter User Name / Email id</div>
                                <div *ngIf="!!email.errors.pattern">Please Enter valid Email ID</div>
                            </div>
                        </div>
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <span class="client_name_head_text">Role <span class="star">*</span></span>
                                <div class="ui-fluid">
                                <div class="drop_list_client_name">
                                    <p-autoComplete formControlName="roles" [suggestions]="filteredrolesresults"
                                        (completeMethod)="searchfilteredroles($event)" field="label" dataKey="id"
                                        [size]="30" [minLength]="1" placeholder="Search or Select" [dropdown]="true"
                                        (onDropdownClick)="rolesDropdown()" forceSelection="false" (onFocus)="deleteValidations()">
                                    </p-autoComplete>
                                </div>
                                </div>
                            </div>
                            <div class="alert alert-danger " *ngIf="roles.touched && roles.invalid">
                                Please select the Role
                            </div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <span class="client_name_head_text">Department <span class="star">*</span></span>
                                <div class="ui-fluid">
                                <div class="drop_list_client_name">
                                    <p-autoComplete formControlName="departmentName" ng-value="" [suggestions]="filtereddepartmentresults"
                                        (completeMethod)="searchfiltereddepartment($event)" field="label" dataKey="id"
                                        [size]="30" [minLength]="1" placeholder="Search or Select" [dropdown]="true"
                                        (onDropdownClick)="departmentDropdown()" forceSelection="false" (onFocus)="deleteValidations()">
                                    </p-autoComplete>
                                </div>
                                </div>
                            </div>
                            <div class="alert alert-danger " *ngIf="departmentName.touched && departmentName.invalid">
                                Please select the Department
                            </div>
                        </div>
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <span class="client_name_head_text">Designation <span class="star">*</span></span>
                                <div class="ui-fluid">
                                <div class="drop_list_client_name">
                                    <p-autoComplete formControlName="designation" [suggestions]="filtereddesignation"
                                        (completeMethod)="searchdesignation($event)" field="label" dataKey="id" [size]="30"
                                        [minLength]="1" placeholder="Search or Select" [dropdown]="true"
                                        (onDropdownClick)="designationDropdown()" forceSelection="false" (onFocus)="deleteValidations()">
                                    </p-autoComplete>
                                </div>
                                </div>
                            </div>
                            <div class="alert alert-danger " *ngIf="designation.touched && designation.invalid">
                                Please select the Designation
                            </div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <span class="client_name_head_text">Mobile No <span class="star">*</span></span>
                                <div class="input_text">
                                    <input maxlength="10" formControlName="mobileno" (keyup)="onkeyup($event, 'number')"
                                        type="text" class="text" (click)="deleteValidations()" placeholder="Enter">
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="mobileno.touched && mobileno.invalid">
                                <div *ngIf="!!mobileno.errors.required"> Please Enter the Mobile No.</div>
                                <div *ngIf="!!mobileno.errors.minlength"> Please Enter 10 Digit Mobile No.</div>
                            </div>
                        </div>
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <span class="client_name_head_text">Phone</span>
                                <div class="input_text">
                                    <input type="text" maxlength="12" (keyup)="onkeyup($event, 'number')" class="text"
                                        formControlName="phone" (click)="deleteValidations()" placeholder="Enter">
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
                                <div *ngIf="!!phone.errors.minlength"> Please Enter a Valid Phone No.</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="formerror && form.invalid" class="alert alert-danger">
                        Please fill all the details
                    </div>
                    <div [ngClass]="{'backendErrorClass':this._communicationService.backendError}" *ngIf="this._communicationService.backendError">
                        {{this._communicationService.backendMsg}}
                    </div>
                    <div *ngIf="sbupresent" class="alert alert-danger">
                        <div *ngFor="let item of errorArrray">
                            {{item}}
                        </div>
                    </div>
                </div>
            </form>
            <div class="nopadding col-lg-12 col-md-12 extrawidth">
                    <span class="client_name_head_text">&nbsp;</span>
                    <input type="submit" value="Submit" class="btn btn-success1" (click)="submit(form.value)" *ngIf="!edit" [disabled]="form.invalid">
                    <input type="submit" value="Update" class="btn btn-success1" (click)="Update(form.value)" *ngIf="edit" [disabled]="form.invalid">
                    <input type="submit" value="Cancel" class="btn btn-success2" (click)="Cancel()">
            </div>
        </div>

    </div>
</div>
<!-- edit message pop-up -->
<p-dialog header="" [(visible)]="display_message_for_edit" [closable]="false" [modal]="true" [responsive]="true"
    [minWidth]="200" [minY]="70" [maximizable]="false" [baseZIndex]="10000" appendTo="body">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            {{this.message}}
        </div>
        <div>
            <button (click)="okMessageForEdit()" class="pop_button pop_button_orange">OK</button>
        </div>
    </div>
</p-dialog>