<!-- <header></header> -->
<div class="project_wrapper">
    <div class="nopadding title col-lg-12 col-md-12 col-sm-12">
        <!-- <div class="nopadding  titleleft col-lg-6 col-md-6 col-sm-6"> -->
        <span class="titleleft">Product Listing</span>
        <!-- </div> -->
        <!-- <div class="nopadding titleright col-lg-6  col-md-6 col-sm-6"> -->
        <span class="titleright">You are here : Product Listing</span>
        <!-- </div> -->
    </div>
    <div class="maindiv row">
        <div class="tablecontainer">
            <p-table #dt [columns]="cols" [value]="categories" selectionMode="single" [paginator]="true" [rows]="10"
                class="some-custom-class-name" [resizableColumns]="true" [totalRecords]=[productslength]>
                <ng-template pTemplate="caption">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- searchbox -->
                            <div class="col-md-6  searchtop">
                                <div class="search_button_wrapper">
                                    <div class="search_wrapper">
                                        <input type="text" class="inputtextsearch" placeholder="Search for Products"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')">
                                    </div>
                                    <div class="button_wrapper">
                                        <button class="searchiconbutton"><img src="assets/images/BlueIcons/icons8-search-40.png"
                                                class="search_image_icon"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 20px;">
                                <div class="FilterBasedonStatus filterwidth">
                                    <!-- <p-dropdown [options]="filterCategory" [resizable]="false"(onChange)="filterList($event)"  placeholder="Filter Based on Category" optionLabel="label" [showClear]="true"></p-dropdown> -->
                                    <p-dropdown  [options]="filterCategory" [style]="{'width': '70%'}" [filter]="true" panelStyleClass="dropdownfont" (onChange)="filterList($event)"  [autoWidth]="false" placeholder="Filter Based on Category"  optionLabel="label" ></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <!-- test -->
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>
                <!-- Rows and columns -->
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" pResizableColumn>
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" class="ui-resizable-column">
                            <div *ngIf="col.header == 'Action' || col.header == 'Image' else elseBlock">
                                <div *ngIf="col.header == 'Image'">
                                    <img class="imagefile" src="{{rowData[col.field]}}" />
                                </div>
                                <div *ngIf="col.header == 'Action'">
                                        <button *ngIf="isEdit" pButton type="button" icon="fa fa-pencil" (click)="editProductData(dt,rowIndex)" data-toggle="tooltip" title="Edit"></button>                                    
                                    &nbsp;
                                        <button *ngIf="isDelete" pButton type="button" icon="fa fa-trash" (click)="delete(dt,rowIndex)" data-toggle="tooltip" title="Delete"></button>                                
                                </div>
                            </div>
                            <ng-template #elseBlock>
                                {{rowData[col.field]}}
                            </ng-template>
                        </td>
                    </tr>
                    <!-- <tr [pSelectableRow]="rowData">
                                    <td *ngFor="let col of columns" class="ui-resizable-column" >
                                        {{rowData[col.field]}}
                                    </td>
                                </tr> -->
                </ng-template>
            </p-table>
            <div *ngIf="norecords" class="redclass">
                No Records to display here
        </div>
        <div [ngClass]="{'backendErrorClass':this._communicationService.backendError}" *ngIf="this._communicationService.backendError">
            {{this._communicationService.backendMsg}}
        </div>
        </div>
        <div class="addbtn">
            <input *ngIf="isAdd" type="submit" value="Add Product" class="btn btn-success1" (click)="showDialogToAdd()">
        </div>
    </div>
</div>

<!-- ============================= Add Product ======================================-->

<div class="popup">
    <p-dialog [(visible)]="displayaddnewproduct" [modal]="true" [responsive]="true" [width]="800" [maximizable]="false"
        [baseZIndex]="10000" [contentStyle]="{'height': '850px'}" [style]="{'padding-bottom':'10px'}">
        <app-add-product #paramref></app-add-product>
    </p-dialog>
</div>

<!-- ==========================Edit Product========================================= -->

<div class="popup">
    <p-dialog [(visible)]="editproduct" [modal]="true" [responsive]="true" [width]="800" [maximizable]="false"
        [baseZIndex]="10000" [contentStyle]="{'height': '850px'}" [style]="{'padding-bottom':'10px'}">
        <app-add-product></app-add-product>
    </p-dialog>
</div>

<!-- ==========================preview Product Description========================================= -->

<div class="popup" style="max-height: 400px !important;">
    <p-dialog [(visible)]="previewDescription" [modal]="true" [responsive]="true" [width]="400" [maximizable]="false"
        [baseZIndex]="10000">
        <div style="min-height: 250px;padding: 2% 7%;overflow-y: auto">
            <form [formGroup]="form">
                <div style="display: inline;padding:2px 2px 0px 0px;margin:0px 0px;" class="details" *ngFor="let item of this.formControlArray;let i = index;">
                    <span style="margin:3px 0px;font-size: 16px;" *ngIf="item.type=='text'">
                        {{ item.content }}
                    </span>
                    <span *ngIf="item.type=='String'">
                        <input required style="margin:3px 0px;font-size: 16px;" minlength="1" maxlength="250" type="text"
                            class="splinput" [formControlName]="item.formControlName">
                        <!-- <div class="alert alert-danger" *ngIf="stringdata.touched && stringdata.invalid">
                            <div *ngIf="stringdata.errors.required">Please enter string.</div>
                            <div *ngIf="stringdata.errors.pattern">Please enter character only.</div>
                        </div> -->
                    </span>

                    <span *ngIf="item.type=='1 Dimension'">
                        <!-- pattern="^[\w+?\s]*$" -->
                        <input style="margin:3px 0px;font-size: 16px;" required type="text" class="splinput splinput_box"
                            [formControlName]="item.formControlName">
                        <!-- <div class="alert alert-danger" *ngIf="dimension1.touched && dimension1.invalid">
                                <div *ngIf="dimension1.errors.required">Please enter dimension.</div>
                                <div *ngIf="dimension1.errors.pattern">Please enter number only.</div>
                            </div> -->
                    </span>
                    <span *ngIf="item.type=='2 Dimension'">
                        <!-- pattern="^[\w+?\s]*$" -->
                        <input required style="margin:3px 0px;font-size: 16px;" type="text" class="splinput splinput_box"
                            [formControlName]="item.formControlName">&nbsp; <b>x</b> &nbsp;
                        <input required style="margin:3px 0px;font-size: 16px;" type="text" class="splinput splinput_box"
                            [formControlName]="item.formControlName1">
                        <!-- <div class="alert alert-danger" *ngIf="dimension21.touched && dimension21.invalid || dimension22.invalid">
                                <div *ngIf="dimension21.errors.required || dimension22.errors.required">Please enter value for selected parameter.</div>
                                <div *ngIf="dimension21.errors.pattern || dimension22.errors.pattern">Please enter number only.</div>
                        </div> -->
                    </span>
                    <span *ngIf="item.type=='3 Dimension'">
                        <!-- pattern="^[\w+?\s]*$" -->
                        <input required style="margin:3px 0px;font-size: 16px;" type="text" class="splinput splinput_box"
                            [formControlName]="item.formControlName">&nbsp; <b>x</b> &nbsp;
                        <input required style="margin:3px 0px;font-size: 16px;" type="text" class="splinput splinput_box"
                            [formControlName]="item.formControlName1">&nbsp; <b>x</b> &nbsp;
                        <input required style="margin:3px 0px;font-size: 16px;" type="text" class="splinput splinput_box"
                            [formControlName]="item.formControlName2">
                        <!-- <div class="alert alert-danger" *ngIf="dimension31.touched && dimension31.invalid || dimension32.invalid || dimension33.invalid">
                                <div *ngIf="dimension33.errors.required || dimension32.errors.required || dimension31.errors.required">Please enter value for selected parameter.</div>
                                <div *ngIf="dimension33.errors.pattern || dimension32.errors.pattern || dimension31.errors.pattern">Please enter number only.</div>
                        </div> -->
                    </span>
                    <span style="margin:3px 0px;font-size: 16px;" *ngIf="item.type=='String Dropdown'">
                        <p-dropdown required [autoWidth]="false" [options]="item.value" [formControlName]="item.formControlName" dataKey="value" optionLabel="label"></p-dropdown>
                    </span>
                </div>
                <!-- <div *ngIf="this._communicationService.Prodsku_previewDescriptionerror && form.invalid" class="alert alert-danger">
                Please fill all the details
            </div> -->
            </form>
        </div>
        <div class="addbtn">
            <div style="display: inline-block;max-width:32%;margin-inline-start: 20%;margin-right:12%;">
                <input type="submit" value="Submit" class="btn btn-success11" (click)="submit(form.value)">
            </div>
            <div style="display: inline-block;max-width:32%;margin-inline-end: 12%;">
                <input type="submit" value="Cancel" class="btn btn-success21" (click)="Cancel()">
            </div>
        </div>
    </p-dialog>
</div>

<!-- edit message pop-up -->
<p-dialog header="" [(visible)]="display_message_for_product_delete" [closable]="false" [modal]="true" [responsive]="true"
    [minWidth]="200" [minY]="70" [maximizable]="false" [baseZIndex]="10000" appendTo="body">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            {{this.message}}
        </div>
        <div>
            <button (click)="okMessageForDelete()" class="pop_button pop_button_orange">OK</button>
        </div>
    </div>
</p-dialog>


<!-- Delete Pop up  -->


<p-dialog header="" [(visible)]="displayopenclose" [closable]="false" [modal]="true" [responsive]="true" [minWidth]="200" [style]="{'min-height':'auto'}" [minY]="70" [maximizable]="false" [baseZIndex]="10000">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            Are you sure you want to delete?
        </div>
        <div class="popup_yesno">
            <div>
                <button (click)="ConfirmDelete()" class="pop_button pop_button_orange">YES</button>
            </div>
            <div class="pop_left_space" style="padding-left: 7%">
                <button (click)="DeclineDelete()" class="pop_button pop_button_silver">NO</button>
            </div>
        </div>
    </div>
</p-dialog>