/* Added by Amol */

.alert-danger{
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 13px;
}
.alert{
    padding: 0px;
}
.alert-danger{
    color: #e62d08;
    background-color: #ffffff !important; 
    border-color: #ffffff !important; 
    font-family: "Roboto Slab-Bold";	            
}
/* Added by Amol */
.nopadding{
    /* float: left; */
    padding: 0px !important;
}

.heading{
    color: #ffaa14;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 15px;
}
.leftheading{
    font-size: 24px;
}
.txtarea{
    margin-top: 3%;
}
.rightheading{
    float: right;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.04px;
    line-height: 14px;
    text-align: right;
}
.contain{
    margin-left: 10px;
    margin-bottom: 15px;
}
.maindiv{
    margin-bottom: 20px;
    padding: 10px;
    margin: 0px;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    padding-bottom: 15px;
    font-family:  "Roboto Slab-Bold";
    border-radius: 4px; 
    margin-left: 20px;
}
.project_To_duplicate_block{
    padding:16px 0px 5px 0px;
    min-height: 70px;
    width: 95%;
    border-bottom: 1px solid #D3D3D3;    
}
.project_To_duplicate_block2{
    padding:16px 0px 5px 0px;
    min-height: 70px;
    width: 95%;   
}
.client_name_head_text{	
    color: #515151;	
    font-family: "Roboto Slab-Bold";	
    font-size: 13px;		
    line-height: 18px;
    display: block;
    margin-bottom:5px;
}
.client_name_head_text2{
    color: #515151;	
    font-family: "Roboto Slab-Bold";	
    font-size: 13px;		
    line-height: 18px;
    margin-bottom:5px;
}
.star{
    color: red;
}
.inliner{
    display: inline-block;
    width:100%;
}
#txtarea{
    width: 100%;
}
.text{
    border: 0px;
    width: 90%;
    height: 24px;
    color: #4A4A4A;
}
input,textarea{
    color: #4A4A4A;	
    font-family: "Roboto Slab";	
    font-size: 18px;	
    line-height: 24px;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0px !important;
    outline: none !important;
} 
.btn{
    z-index:999;
    font-family: "Roboto Slab";
    height: 33px;
    width: 125px;
    border-radius: 4px;
    color: #FFFFFF;
    line-height: 3px;
}
.extrabottom{
    min-height:40px;
    z-index:-1;
}
.extraspace{
    padding-bottom:10px;
    width:94%;
}
.clientright{
    float:right;
}
.clientInliner{
    display: inline-block;
}
.btn-success1{
    margin-left: 20px;
    background-color: #FF9801;
}
.btn-success2{
    background-color: #909090;
}
:host >>> .ui-inputtext:enabled:hover {
    border-color: transparent;
    background: transparent;
}
:host >>> .ui-autocomplete-dd input.ui-corner-all{
    border: none;
    background: transparent;
    width: 85%;
    height: 24px;
    padding-left:0;
}
:host >>> .ui-widget.ui-button, .ui-button{
    background: transparent;
    color: transparent;
    /* background: #FFFFFF; */
    border: none;
}
:host >>> .ui-widget.ui-button, .ui-button:hover{
    background: transparent !important;
    color: transparent !important;
    border:none !important;
}
:host >>> .ui-button-icon-only .ui-button-text{
    padding:0px;
    padding-right:45px;
}
.autodropclass{
    font-family: "Roboto Slab";	    
    color: #4A4A4A;
    font-size:18px;
}
/* .drop_list_client_name{
    width:98%;
    background: no-repeat #ffffff;
    background-image:url("/assets/images/BlueIcons/icons8-plus-40.png");
    background-size: 20px 20px;
    background-position:right center;
} */
.img_class{
    height: 20px;
    width: 20px;
}
.plus_img{
    padding-left:20px;
}
:host >>> .ui-autocomplete-panel .ui-autocomplete-list{
    padding:0;
}
.sub{
    display: inline-block !important;
}
.sub_plus{
    padding-left:20px;
}
.absolute_img{
    position: absolute;
    right:0;
}
.sub_text{
    border: 0px;
    width: 100%;
    height: 24px;
    color: #4A4A4A;
    font-family: "Roboto Slab";    
}
.container1{
    padding:20px 20px 20px 20px;
    color: #4A4A4A;
    font-family: "Roboto Slab";   
    font-size :16px;
}
/* .text_underline{
    padding-bottom:10px;
    border-bottom: 1px solid #D3D3D3;    
    margin-bottom:10px;
} */
/* msg pop-up */
:host >>> .ui-dialog{
    min-height:100px !important;
}
:host >>> .ui-dialog .ui-dialog-titlebar {
    padding:0;
}
:host >>> .ui-dialog.ui-widget .ui-dialog-titlebar {
    padding:0;
}
:host >>> .ui-dialog.ui-widget .ui-dialog-content{
    padding:0;    
}
:host >>> .ui-dialog .ui-dialog-content {
    padding:0;        
}
/* :host >>>  .ui-dialog.ui-widget .ui-dialog-content{
    min-height: 100 !important;
} */
.pop_open_close_wraper{
    padding:20px;
}
.pop_button{
    height: 37px;
    width: 110px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-family: "Roboto Slab-Bold";
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.pop_button_orange{
    background: #FF9801;
}
.pop_open_close_bottom{
    padding-bottom:20px;
    color: #515151;	
    font-family: "Roboto Slab-Bold";	
    font-size: 15px;	
}
.ok_class{
    text-align: center;
}
.sub_line{
    border-bottom: 1px solid #D3D3D3;     
    width:85%;           
}
.sub_inliner{
    display: inline-block;
}
.tenclass{
    width:10%;
}
.del_right{
    float:Right;
}
.item_inliner{
    display: inline-block;
}
.sixtyclass{
    width:60%;
    /* border-bottom: 1px solid #D3D3D3;     */
    border-bottom: 2px solid #FF9801;         
    margin-bottom:5px;
    margin-top:5px;
}
.add_item_btn{
    margin-top:10px;
    padding-left:20px;
}
.add_item_btn_class{
    bottom: 10px;
    font-family: "Roboto Slab";
    height: 30px;
    width: 25%;
    border-radius: 4px;
    color: #FFFFFF;
    background: #4DE2EE;
    border: none;
    font-size: 16px;
}
.fiveclass{
    width:5%;
    color: #515151;
    font-family: "Roboto Slab-Bold";
    font-size: 18px;
    /* line-height: 18px; */
}
.leftspace{
    margin:0;
    padding-left:20px !important;
}
/* popup */
.popupbtn{
    color: #ffffff;
    padding: 6px;
    /* margin: 0px 10px; */
    max-width: 100px;
    width:80%;
    /* margin-left:30px; */
}
.orangeclass{
    background-color: #FF9801;
    border:none;
}
.silverclass{
    border:none;    
    background-color: #909090;
    margin-left: 20px;
    
}
.btn1{
    line-height: 3px;
    /* bottom: 10px; */
    position: relative;
    /* right: 2px; */
    font-family: "Roboto Slab";
    height: 33px;
    width: 25%;
    border-radius: 4px;
    color: #FFFFFF;
}
.popupbtn:active,
.popupbtn:focus,
.popupbtn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.center_class{
    text-align:center;
}
.editImageClass{
    font-family: "Roboto Slab";
    color: #515151 !important;
    font-size:12px;
}
a:hover {
    color: #007bff !important;
  }
.subalert{
    margin:0px;
}
:host >>> .ui-tooltip-text{
    font-size:12px;
    white-space:pre-wrap;
}
:host >>> .ui-tooltip{
    pointer-events: none !important;
    margin-left:35px;
    position: absolute !important;
}
/*  */