<!-- projectname Breadcrum -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 startingcolumn create_estimate_wrapper">
      <div class="row">
        <!-- Project header -->
        <div class="col-12 col-md-12 startingcolumn project">
          <div class="row">
            <div class="col-6 col-md-6 startingcolumn project_left">
              <div class="project_text">
                <span>{{this.projectDetails.Name}} - {{this.boqDetails.boqName}}</span>
              </div>
            </div>
            <div class="col-6 col-md-6 startingcolumn project_right">
              <div class="breadcrum_wrapper">
                <span id="bread_text">You are here:<span style="cursor:pointer;" routerLink="/Project">Projects /</span>
                  <span style="cursor:pointer;" routerLink="/Project/BOQ">BOQListing</span> /Create Project Estimate</span>
              </div>
            </div>
          </div>
        </div>
        <!--ends here  -->
        <!-- categories left table -->
        <div class="col-12 col-md-4 startingcolumn categories_wrapper">
          <div class="row">
            <div class="col-12 col-md-12 startingcolumn categories_body">
              <div class="row">
                <div class="col-12 col-md-12 startingcolumn categories_header_wrapper">
                  <div class="row" *ngIf="BOQList.length>0 && !FinalBoQ">
                    <div class="col-md-4 startingcolumn">
                      Import BOQ
                    </div>
                    <div class="col-md-4 startingcolumn">
                      <p-dropdown [options]="BOQList" [showClear]='false' [(ngModel)]="selectedBOQ" placeholder="Select a BOQ"
                        optionLabel="label" [showClear]="true"></p-dropdown>
                    </div>
                    <!-- <div class="col-md-1 startingcolumn">
                      </div> -->
                    <div class="col-md-3 startingcolumn importBoQsubmit">
                      <button class="btn btn-primary import" (click)="importBOQ()" type="submit">Submit</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-9 col-md-9 startingcolumn categories_left">
                      <span class="categories_head_bold">Categories</span>
                      <span *ngIf="!FinalBoQ">
                        <img src="assets/images/BlueIcons/icons8-plus-40.png" class="cat_add_icon cp" (click)="addCategory()" data-toggle="tooltip" title="Add Category">
                      </span>
                    </div>
                    <!-- <div class="col-md-2 startingcolumn categories_middle">
                      2
                    </div> -->
                    <div class="col-3 col-md-3 startingcolumn categories_right">
                      <span class="categories_head_bold">Sub Total</span>
                    </div>
                  </div>
                </div>
                <!-- categories_header_wrapper ends here -->

                <div *ngFor="let item of CategoriesList;let i = index" [ngClass]="activeSize === i ? 'colorchange' : 'image_text_price_wrapper'"
                  (click)="selectedList(item,i)" class="col-12 col-md-12 startingcolumn image_text_price_wrapper">
                  <div class="row">
                    <div class="col-9 col-md-9 startingcolumn image_text_price_left">
                      <div class="flex_wrapper">
                        <div class="categories_image_content">
                          <img [src]="item.src" class="categories_image_class">
                        </div>
                        <div class="categories_name_content">
                          <span class="categories_name_text">{{item.Categories}}</span>
                        </div>
                        <!-- use *ngIf on class close_download -->
                        <div class="categories_close_download" *ngIf="activeSize === i && !FinalBoQ">
                          <span class="imagespace" (click)="categoryclosed(item,$event,'delete this category')"><img src="assets/images/BlueIcons/icons8-cancel-40.png"
                              class="close_download_icons cp" data-toggle="tooltip" title="Delete Category"></span>
                          <span (click)="showDialogimport(item,$event)"><img src="assets/images/BlueIcons/icons8-download-40.png"
                              class="close_download_icons cp" data-toggle="tooltip" title="Import Category"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 col-md-3 startingcolumn image_text_price_right">
                      <span class="price_class">{{item.SubTotal | newcurrency}}</span>
                    </div>
                  </div>
                </div>
                <!-- BUDGET -->
                <div class="col-12 col-md-12 startingcolumn budgeting_wrapper">
                  <div class="col-3 col-md-3 startingcolumn budget_text_wrapper">
                    <span class="categories_head_bold">Budget</span>
                  </div>
                  <div class="col-12 col-md-12 startingcolumn budget_wrapper">
                    <div class="budget_total">
                      <span class="budget_total_text">{{budget | newcurrency}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--categories_body ends here  -->
          </div>
        </div>
        <!-- categories ends here -->
        <!-- RIGHT TABLE  STARTS HERE-->
        <div class="col-12 col-md-8 startingcolumn table_data_wrapper">
          <div class="row">
            <div class="col-md-12 startingcolumn table_data_body">
              <div class="row">
                <div class="col-md-12 startingcolumn estimate_table_heading">
                  <div class="row">
                    <div class="col-md-1 col-lg-1 startingcolumn estimate_table_heading_left">
                      <div class="back_arrow_wrapper">
                        <img src="assets/images/BlueIcons/icons8-go-back-40.png" class="back_arrow_class" (click)="back_to_projects_page()">
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-3 startingcolumn estimate_table_heading_left">
                      <div class="FilterBasedonStatus filterwidth">
                        <p-dropdown [options]="filterSubCategory" (onChange)="filterList($event)" placeholder="Filter Based on Status"
                          optionLabel="label" [showClear]="true"></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-2 startingcolumn">

                    </div>
                    <div class="col-md-6 col-lg-6 startingcolumn estimate_table_heading_right">
                      <div class="row">
                        <div class="col-md-3 startingcolumn">
                          <div class="shiftright bold_head">
                            <span class="alignclass">Quantity</span>
                          </div>
                        </div>
                        <div class="col-md-3 startingcolumn">
                          <div class="shiftright bold_head">
                            <span class="alignclass">SubTotal</span>
                          </div>
                        </div>
                        <div class="col-md-3 bold_head startingcolumn">
                          <div class="shiftright">
                            <span class="alignclass">Discount%</span>
                          </div>
                        </div>
                        <div class="col-md-3 bold_head startingcolumn">
                          <div class="shiftright">
                            <span class="alignclass">LineTotal</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- heading ends here **************************** #######-->
                <!-- 2nd below ends here -->
                <!-- ONCLICK DIV SHOULD OPEN ngfor parameter -->
                <div class="col-md-12 startingcolumn content_div_wrapper estimate_alternate_color">
                  <div class="row" *ngFor="let item of displayList;let i=index ">
                    <div class="col-md-6 startingcolumn content_div_wrapper_left">
                      <div class="row">
                        <div class="col-md-6 startingcolumn content_div_wrapper_first" (click)="HideSubCatprojlist(i,item,$event)">
                          <span class="bold_estimate_content content_div_wrapper_padding subcategories_name_text">{{item.subcategoryName}}</span>
                        </div>
                        <div class="col-md-5 startingcolumn content_div_wrapper_flex" [style.display]="displayList.length > 0 ?'flex':'none'">
                          <div class="startingcolumn content_div_wrapper_second ">
                            <p-dropdown [(ngModel)]="item.status" [readonly]="FinalBoQ" [options]="SubCategorystatus" [showClear]='false'
                              (onChange)="SetStatus($event)" placeholder="Set Status" optionLabel="label" [showClear]="true"></p-dropdown>
                          </div>
                          <div class="startingcolumn content_div_wrapper_second_corner ">

                          </div>
                        </div>
                        <div class="col-md-1 startingcolumn content_div_wrapper_flex">
                          <div class="startingcolumn content_div_wrapper_second">
                            <span (click)="showRaiseQueryPopup('subCatlvl',item)"><img src="assets/images/ColorImages/raisequery.png"
                                class="close_download_icons cp" data-toggle="tooltip" title="Raise Query"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 startingcolumn content_div_wrapper_right">
                      <div class="row">
                        <div class="col-md-3 startingcolumn">
                          <div class="shiftright normal_head">
                            <span class="alignclass"></span>
                          </div>
                        </div>
                        <div class="col-md-3 startingcolumn">
                          <div class="shiftright normal_head">
                            <span class="alignclass"></span>
                          </div>
                        </div>
                        <div class="col-md-3 startingcolumn">
                          <div class="shiftright normal_head">
                            <span class="alignclass "></span>
                          </div>
                        </div>
                        <div class="col-md-3 startingcolumn">
                          <div class="shiftright normal_head">
                            <span class="alignclass"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- *ngIf to make it toogle up and compress and show upper part only -->
                    <span style="width:100%" *ngIf="item.itemList" [style.display]="item.itemList.length > 0?'block':'none'">
                      <div [style.display]="hideIndex[i] ? 'block':'none'" class="col-md-12 startingcolumn content_div_wrapper_image"
                        *ngFor="let item5 of item.itemList;let j = index;">
                        <div class="row" *ngIf="item5.productList.length>0" style="font-size: smaller;padding-bottom:5px;width: 99.4%;">
                          <div class="col-md-3 startingcolumn content_div_wrapper_left Itemcategories_name_text">
                            {{item5.itemName}}
                          </div>
                          <div class="col-md-3 startingcolumn content_div_wrapper_left filterwidth">
                            <span class="normal_estimate_content">
                            </span>
                          </div>
                          <div class="col-md-6 startingcolumn content_div_wrapper_right">
                            <div class="row">
                              <div class="col-md-3 startingcolumn">
                                <div class="shiftright normal_head">
                                  <span class="alignclass">{{item5.quantity}}</span>
                                </div>
                              </div>
                              <div class="col-md-3 startingcolumn">
                                <div class="shiftright normal_head">
                                  <span class="alignclass">{{item5.SubTotal | newcurrency}}</span>
                                </div>
                              </div>
                              <div class="col-md-3 startingcolumn">
                                <div class="shiftright normal_head">
                                  <span  class="alignclass discount_block">
                                    <input style="width: 23px;"  [ngClass]="{disabledDiv: FinalBoQ}" class="noBorder" [value]="item5.discount" (change)="DiscountChange(item,item5,$event)"
                                      type="text">
                                    <!-- <input style="width: 23px;" class="noBorder" (keyup)="onkeyup($event,'number')" [value]="item5.Discount" (change)="DiscountChange(item,item5,$event)" type="text"> -->
                                  </span>
                                </div>
                              </div>
                              <div class="col-md-3 startingcolumn">
                                <div class="shiftright normal_head">
                                  <span class="alignclass">{{item5.lineTotal | newcurrency}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row setborderbottom" [ngClass]="{'selectedCheckbox':item2.checked,'deselectedCheckbox':!item2.checked}"
                          *ngFor="let item2 of (item5.productList | OrderBy)">
                          <div class="col-md-6 startingcolumn content_div_wrapper_left">
                            <div class="row">
                              <div class="col-md-3 startingcolumn content_div_wrapper_first">
                                <div class="square_image">
                                  <img src='http://s3.amazonaws.com/wom-documents/{{item2.imgPath}}' class="create_estimate_small_image heg52px">
                                </div>
                              </div>
                              <div class="col-md-9 startingcolumn content_div_wrapper_flex">
                                <div class="startingcolumn content_div_wrapper_second">
                                  <span class="content_div_wrapper_second_bold Itemcategories_name_text">{{item2.productName}}</span>
                                  <span class="content_div_wrapper_second_block">
                                    {{item2.description}}
                                  </span>
                                </div>
                                <div class="startingcolumn content_div_wrapper_second_corner">
                                  <div *ngIf="!FinalBoQ" class="compose_wrapper">
                                    <img src="assets/images/BlueIcons/icons8-cancel-40.png" class="compose_class cp"
                                      (click)="deleteProjectFromList(item,item2,item5,$event,'delete this variant')" data-toggle="tooltip" title="Delete Variant">
                                  </div>
                                  <div *ngIf="!FinalBoQ" class="compose_wrapper">
                                    <img src="assets/images/BlueIcons/icons8-compose-40.png" class="compose_class cp"
                                      (click)="EditProduct(item,item2,item5,$event)" data-toggle="tooltip" title="Add Variant">
                                  </div>
                                  <div class="compose_wrapper">
                                    <img src="assets/images/ColorImages/raisequery.png" class="compose_class cp" (click)="showRaiseQueryPopup('prdlvl',item2)" data-toggle="tooltip" title="Raise Query">
                                  </div>
                                  <!-- <div  class="startingcolumn content_div_wrapper_second" style="padding: 0px;">
                                              <span>
                                                <img  class="close_download_icons" src="assets/images/ColorImages/raisequery.png" style="width: 20px;border-radius: 25px;">
                                              </span>
                                            </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 startingcolumn content_div_wrapper_right">
                            <div class="row">
                              <div class="col-md-3 startingcolumn">
                                <div class="shiftright normal_head">
                                  <span class="alignclass">{{item2.productQuantity}}</span>
                                </div>
                              </div>
                              <div class="col-md-3 startingcolumn">
                                <div class="shiftright normal_head">
                                  <span class="alignclass">{{item2.productSubTotal | newcurrency}}</span>
                                </div>
                              </div>
                              <div class="col-md-3 startingcolumn">
                                <div class="shiftright normal_head">
                                  <span class="alignclass"></span>
                                </div>
                              </div>
                              <div class="col-md-3 startingcolumn">
                                <div class="shiftright normal_head">
                                  <span *ngIf="!FinalBoQ" class="alignclass">
                                    <input type="checkbox" [checked]="item2.checked" (change)="onCheckBoxChange(item,item2,item5,$event)">
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
                <div *ngIf="!this.FinalBoQ" class="col-md-12 startingcolumn estimate_buttons_wrapper_outer">
                  <div class="estimate_buttons_wrapper">
                    <div class="estimate_save_wrapper">
                      <button class="estimate_save estimate_button_common" (click)="onFinalizenClose('draft','save and close')"><span
                          class="button_text_class">SAVE AND CLOSE</span></button>
                    </div>
                    <div class="estimate_finalise_wrapper">
                      <button class="estimate_finalise estimate_button_common" (click)="onFinalizenClose('final','finalise and close')"><span
                          class="button_text_class">FINALISE AND CLOSE</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- right table ends here -->
          </div>
        </div>
      </div>
    </div>

    <!-- compose dialogbox -->
    <!-- [dismissableMask]="true" use to hide dialog on click of background -->
    <p-dialog [(visible)]="displayVariantDialog"  [style]="{'position': 'fixed','right':'153px','left': '153px','min-width':'auto'}"
      [modal]="true" [responsive]="true" [contentStyle]="{'height': '450px'}" [minY]="70" [maximizable]="false"
      [baseZIndex]="10000">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 startingcolumn modal_full_wrapper">
            <div class="row">
              <div class="col-md-4 startingcolumn modal_left_wrapper">
                <div class="row">
                  <div class="col-md-12 startingcolumn variant_body">
                    <div class="row">
                      <div class="col-md-12 startingcolumn workstation_header">
                        <div class="row">
                          <div class="col-md-12 startingcolumn">
                            <span class="work_bold">Variants</span>
                          </div>
                        </div>
                      </div>
                      <div *ngFor="let variant of variantListDispJson; let i=index" [ngClass]="{'selectedVariant' : highLightSelectedVariant === i }"
                        class="col-md-12 startingcolumn variants_rows">
                        <span (click)="highLightVariant(i,variant)">{{variant.name}}</span>
                      </div>
                      <div *ngIf ="addnewVariantlinkflag" class="col-md-12 startingcolumn add_new_variant">
                        <div class="add_new_flex" (click)="addNewVariantBox()">
                          <div class="add_image">
                            <img src="assets/images/BlueIcons/icons8-plus-40.png" class="plus_icon cp" data-toggle="tooltip" title="Add Variant">
                          </div>
                          <div class="add_new_text">
                            <span class="add_text">Add New Variant</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 startingcolumn modal_right_wrapper" *ngIf='variantForm'>
                <div [formGroup]="variantForm" class="row">
                  <div class="col-md-12 startingcolumn modal_right_body_wrapper">
                    <div class="row">
                      <div class="col-md-12 startingcolumn big_image_wrapper">
                        <div class="big_image">
                          <!-- <img src="assets/images/ColorImages/table.png" class="specs_big_image img-fluid"> -->
                          <img src={{variantImg}} class="specs_big_image img-fluid">
                        </div>
                      </div>
                      <div class="col-md -12 startingcolumn specifications_wrapper">
                        <div class="row">
                          <div class="col-md-12 startingcolumn specifications_heading">

                            <span class="specs_text">Specifications </span>
                          </div>
                          <div class="col-md-12 startingcolumn bold_normal_text_wrapper">
                            <span class="specs_bold extra_space_top">Description:</span>
                            <span>
                              <form *ngIf='DescriptionForm' [formGroup]="DescriptionForm">
                                <div style="display: inline;padding:2px 2px 0px 0px;margin:0px 0px;" class="details"
                                  *ngFor="let item of this.formControlArray;let i = index;">
                                  <!-- {{item|json}}  -->
                                  <span style="margin:3px 0px;font-size: 16px;" *ngIf="item.type=='text'">
                                    {{ item.content }}
                                  </span>
                                  <span *ngIf="item.type=='String'">
                                    <span [style.display]="displaynone[i] ? 'none':'inline'" (click)="onFocusDispinputfield(i,$event,item)">
                                      <b> {{item.selectedValue}}</b>
                                    </span>
                                    <span class="displaylabel" [style.display]="displaynone[i] ? 'inline':'none'">
                                      <input required id="input" autofocus (blur)="onBlurDispLabel(i,$event,item.formControlName,'Nodata','String')"
                                        minlength="1" maxlength="250" type="text" class="splinput" [formControlName]="item.formControlName">
                                    </span>
                                  </span>

                                  <span *ngIf="item.type=='1 Dimension'">
                                    <span [style.display]="displaynone[i] ? 'none':'inline'" (click)="onFocusDispinputfield(i,$event,item)">
                                      <b> {{item.selectedValue}}</b>
                                    </span>
                                    <span class="displaylabel" [style.display]="displaynone[i] ? 'inline':'none'">
                                      <input style="margin:3px 0px;font-size: 16px;width:5%;" autofocus (blur)="onBlurDispLabel(i,$event,item.formControlName,'parameter0','1Dimension')"
                                        required type="text" class="splinput splinput_box" [formControlName]="item.formControlName">
                                    </span>
                                  </span>
                                  <span *ngIf="item.type=='2 Dimension'">
                                    <span [style.display]="displaynone[i] ? 'none':'inline'" (click)="onFocusDispinputfield(i,$event,item)">
                                      <b> {{item.selectedValue['parameter0']}} * {{item.selectedValue['parameter1']}}</b>
                                    </span>
                                    <span class="displaylabel" [style.display]="displaynone[i] ? 'inline':'none'">
                                      <input required style="margin:3px 0px;font-size: 16px;width:5%;" type="text"
                                        class="splinput splinput_box" [formControlName]="item.formControlName"
                                        autofocus (blur)="onBlurDispLabel(i,$event,item.formControlName,'parameter0','2Dimension')">&nbsp;
                                      <b>x</b> &nbsp;
                                      <input required style="margin:3px 0px;font-size: 16px;width:5%;" type="text"
                                        class="splinput splinput_box" [formControlName]="item.formControlName1" (blur)="onBlurDispLabel(i,$event,item.formControlName,'parameter1','2Dimension')">
                                    </span>
                                  </span>
                                  <span *ngIf="item.type=='3 Dimension'">
                                    <span [style.display]="displaynone[i] ? 'none':'inline'" (click)="onFocusDispinputfield(i,$event,item)">
                                      <b> {{item.selectedValue['parameter0']}} * {{item.selectedValue['parameter1']}} *
                                        {{item.selectedValue['parameter2']}}</b>
                                    </span>
                                    <span class="displaylabel" [style.display]="displaynone[i] ? 'inline':'none'">
                                      <input required style="margin:3px 0px;font-size: 16px;width:5%;" type="text"
                                        class="splinput splinput_box" [formControlName]="item.formControlName"
                                        autofocus (blur)="onBlurDispLabel(i,$event,item.formControlName,'parameter0','3Dimension')">&nbsp;
                                      <b>x</b> &nbsp;
                                      <input required style="margin:3px 0px;font-size: 16px;width:5%;" type="text"
                                        class="splinput splinput_box" [formControlName]="item.formControlName1" (blur)="onBlurDispLabel(i,$event,item.formControlName,'parameter1','3Dimension')">&nbsp;
                                      <b>x</b> &nbsp;
                                      <input required style="margin:3px 0px;font-size: 16px;width:5%;" type="text"
                                        class="splinput splinput_box" [formControlName]="item.formControlName2" (blur)="onBlurDispLabel(i,$event,item.formControlName,'parameter2','3Dimension')">
                                    </span>
                                  </span>
                                  <span style="margin:3px 0px;font-size: 16px;" *ngIf="item.type=='String Dropdown'">
                                    <span [style.display]="displaynone[i] ? 'none':'inline'" (click)="onFocusDispinputfield(i,$event,item)">
                                      <b> {{item.selectedValue.label}}</b>
                                    </span>
                                    <!-- {{item.values}} -->
                                    <span class="displaylabel" [style.display]="displaynone[i] ? 'inline':'none'">
                                      <p-dropdown [filter]="false" (onChange)="onBlurDispLabel(i,$event,item.formControlName,'Nodata','StringDropdown')"
                                        [style]="{'width':'20%'}" required [options]="item.value" [filter]="true"
                                        [formControlName]="item.formControlName" dataKey="value" optionLabel="label"></p-dropdown>
                                    </span>
                                  </span>
                                </div>
                              </form>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 startingcolumn comments_wrapper">
                        <div class="row">
                          <div class="col-md-12 startingcolumn">
                            <span class="specs_text">Comments</span>
                          </div>
                          <div class="col-md-12 startingcolumn comment_wrap">
                            <textarea formControlName="comments" class="commentbox_text" placeholder="Enter Comments here..."></textarea>
                          </div>
                        </div>
                      </div>
                      <div  *ngIf="this.projectList.length > 0" class="col-md-12 startingcolumn specs_projects_wrapper">
                        <div class="row">
                          <div class="col-md-12 startingcolumn specs_projects_heading">
                            <span class="specs_bold">Projects:</span>
                          </div>
                          <div class="col-md-12 startingcolumn specs_projects_wrapper" *ngFor="let item of this.projectList;let i = index;">
                            <div class="col-md-12 startingcolumn specs_projects_description">
                              <span class="specs_normal extra_space_top">{{item}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 startingcolumn specs_big_budget_wrapper">
                        <div class="row">
                          <div class="col-md-12 startingcolumn specs_big_budget_content">
                            <div class="row">
                              <div class="col-md-8 col-lg-9 startingcolumn specs_big_budget_flexses">
                                <div class="specs_budget_bottom">
                                  <span class="bold_bottom">Budget</span><br>
                                  <input type="text" disabled formControlName="budget" (keydown)="width = $event.srcElement.value.length"
                                    class="specs_quantity_new_input_body" [value]="this.variantForm.get('budget').value | newcurrency">
                                </div>
                              </div>
                              <div class="col-md-1 col-lg-1 startingcolumn"></div>
                              <div class="col-md-3 col-lg-2 startingcolumn specs_quantity_new_wrapper">
                                <div class="specs_quantity_new_body">
                                  <span class="bold_bottom">Quantity</span><br>
                                  <div class="specs_quantity_new_input_wrapper">
                                    <input type="text" (change)="calculateVariantBudget()" formControlName="quantity"
                                      class="specs_quantity_new_input_body">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div [ngClass]="{'col-lg-12': DescriptionForm,'col-md-8': !DescriptionForm}" class=" startingcolumn specs_button_wrapper">
                <div [ngClass]="{'specs_button_flex':DescriptionForm,'specs_button_left':!DescriptionForm}">
                  <div class="specs_cancel_wrapper">
                    <button class="specs_cancel" (click)="specs_cancel_button()"><span class="specs_button_text">CANCEL</span></button>
                  </div>
                  <div *ngIf="DescriptionForm" class="specs_add_wrapper">
                    <button class="specs_add" (click)="AddtoEstimate()"><span class="specs_button_text">ADD TO ESTIMATE</span></button>
                  </div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
      <p-footer></p-footer>
    </p-dialog>


    <!-- import dialogbox -->
    <p-dialog  
    [(visible)]="displayimports" 
    [modal]="true" 
    [responsive]="true" 
    [style]="{'min-width':'auto'}"
    [minY]="70" 
    [maximizable]="false" 
    [baseZIndex]="10000">
    <div class="container-fluid imports_modal">
      <div style="width:373px;"class="row">
        <div class="col-md-6 startingcolumn imports_wrapper">
            <div class="startingcolumn imports_content">
              <div class="imports_heading">
                <span class="imports_contacts_text">Projects</span>
              </div>
            </div>
            <div class="startingcolumn imports_autodrop_wrapper">
              <div class="wrap">
                 <!-- dropdown -->
                 <div class="auto_wrap">
                    <p-dropdown [options]="projects" [showClear]='false' [(ngModel)]="project" (onChange)="getBOQListfromDB()" placeholder="Select Project" optionLabel="label" [showClear]="true"></p-dropdown>
                 </div>
              </div>
            </div>
        </div>
        <div  *ngIf="categorylvlBOQimplist" class="col-md-6 startingcolumn imports_wrapper">
            <div class="startingcolumn imports_content">
                <div class="imports_heading">
                  <span class="imports_contacts_text">BOQListing</span>
                </div>
              </div>
              <div class="startingcolumn imports_autodrop_wrapper">
                <div class="wrap">
                   <!-- dropdown -->
                   <div class="auto_wrap">
                      <p-dropdown [options]="categorylvlBOQimp" [showClear]='false' [(ngModel)]="selectedcategorylvlBOQimp"  placeholder="Select BOQ" optionLabel="label" [showClear]="true"></p-dropdown>
                   </div>
                </div>
              </div>
        </div>
        <div class="col-md-12 startingcolumn import_button_wrapper">
            <div style="float: right;margin-right: 9px;" clss="row">
              <div class="alert alert-danger" *ngIf="NoBoQ2Imp">
                BOQ not present for selected category.
              </div>
              <div class="import_button_flex">
                  <div class="import_cancel">
                      <button (click)="import_cancel_button()" class="import_button_class imp_cancel"><span class="import_cancel_submit_text">Cancel</span></button>
                  </div>
                   <div class="import_submit">
                      <button (click)="getCategoryData()" class="import_button_class imp_submit"><span class="import_cancel_submit_text">Submit</span></button>                     
                   </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <p-footer></p-footer>
    </p-dialog>


    <!-- add new variant dialogbox -->
    <!-- <p-dialog  
[(visible)]="displayaddnewvariant" 
[modal]="true" 
[responsive]="true" 
[width]="auto" 
[minWidth]="auto" 
[minY]="70" 
[maximizable]="false" 
[baseZIndex]="10000">
<div class="container-fluid imports_modal">
  <div class="row">
    <div class="col-md-12 startingcolumn imports_wrapper">
      <div class="row">
        <div class="col-md-12 startingcolumn imports_content">
          <div class="imports_heading">
            <span class="imports_contacts_text">Add new variants</span>
          </div>
        </div>
        <div class="col-md-12 startingcolumn imports_autodrop_wrapper">
          <div class="wrap">
           
             <div class="transparent_arrow_import"></div>
             <div class="auto_wrap">
                <p-autoComplete 
                [(ngModel)]="variant" 
                [suggestions]="filteredVariants" 
                (completeMethod)="filterVariants($event)" 
                [minLength]="1" 
                placeholder="Select" 
                [dropdown]="true">
                <ng-template let-variant pTemplate="item">
                <div class="ui-helper-clearfix">
                <div class="autodropclass">{{variant}}</div>              
                </div>
                </ng-template>
                </p-autoComplete>   
             </div>
          </div>
        </div>
        <div class="col-md-12 startingcolumn import_button_wrapper">
          <div clss="row">
            <div class="import_button_flex">
                <div class="import_cancel">
                    <button (click)="displayaddnewvariant_cancel_button()" class="import_button_class imp_cancel"><span class="import_cancel_submit_text">Cancel</span></button>
                </div>
                 <div class="import_submit">
                    <button (click)="displayaddnewvariant_cancel_button()" class="import_button_class imp_submit"><span class="import_cancel_submit_text">Submit</span></button>                     
                 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-footer></p-footer>
</p-dialog> -->

    <!-- add category dialog box -->
    <p-dialog [(visible)]="displaycategory_dialog" [modal]="true" [responsive]="true" [style]="{'min-width':'auto'}"
      [minY]="70" [maximizable]="false" [baseZIndex]="10000">
      <div class="col-md-12 startingcolumn cat_dialog_wrapper">
        <div class="row">
          <div class="col-md-12 startingcolumn cat_dialog_main">
            <div class="row">
              <div class="col-md-12 startingcolumn cat_diaglog_head">
                <span>Remaining Categories to be added</span>
              </div>
              <div class="col-md-12 startingcolumn cat_dialog_flex_wrapper" *ngFor="let addcat of removeCategoryList">
                <div class="cat_dialog_flex">
                  <div class="cat_img_width">
                    <img src='http://s3.amazonaws.com/wom-documents/{{addcat.categoryImg}}' class="cat_dialog_img">
                  </div>
                  <div class="cat_text_width cat_dialog_info_text">
                    <span>{{addcat.categoryName}}</span>
                  </div>
                  <div class="cat_button_width">
                    <div>
                      <button class="cat_dialog_button" (click)="addRemainingCategory(addcat,$event)"><span class="cat_dialog_button_text">ADD</span></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- if none of the records are present to display -->
              <div class="col-md-12 startingcolumn norecords_wrapper cat_dialog_info_text" *ngIf="norecords">
                <span>No records to display</span>
              </div>
              <div class="col-md-12 startingcolumn cat_dialog_button_wrapper">
                <div class="cat_dialog_button_class">
                  <button class="cat_dialog_button_cancel" (click)="closeCatDialog()"><span class="cat_dialog_button_text">CANCEL</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-footer></p-footer>
    </p-dialog>

    <p-dialog [(visible)]="raiseQueryPopup" [modal]="true" dismissableMask="true" width="600" [minY]="70" [maximizable]="true"
      [baseZIndex]="10000" [closeOnEscape]="true" [minWidth]=150 [resizable]="true" [closable]="true" responsive="true"
      [style]="{'position': 'absolute','top': '-20px!important'}" [contentStyle]="{'max-height':'400px'}">
      <div class="container-fluid imports_modal">
        <div class="row" *ngIf="!showQueryForm">
          <div class="col-md-12" style="padding: 0">
            <p-accordion *ngFor="let QueryObj of Querys;let i = index">
              <p-accordionTab [header]="QueryObj.title+'(Query_id: '+QueryObj.queryId+')('+QueryObj.status+')'">
                <div class="messaging">
                  <div class="inbox_msg">
                    <div class="mesgs">
                      <div class="msg_history" *ngFor="let Msg of QueryObj?.childList1;let j = index">

                        <div *ngIf="Msg.queryResponseRaisedBy !== this.UserDetail.name && Msg.queryStatus === 'Open'"
                          class="incoming_msg">
                          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                              alt="sunil"> </div>
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p>{{QueryObj.message}}</p>
                              <span class="time_date"> {{Msg.queryResponseQueryTime}} | {{Msg.queryResponseQueryDate}}</span>
                              <span class="username"> {{Msg.queryResponseRaisedBy}}</span>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="Msg.queryResponseRaisedBy === this.UserDetail.name  && Msg.queryStatus === 'Open'"
                          class="outgoing_msg">
                          <div class="sent_msg">
                            <p>{{QueryObj.message}}</p>
                            <span class="time_date">{{Msg.queryResponseQueryTime}} | {{Msg.queryResponseQueryDate}}</span>
                            <span class="username"> {{Msg.queryResponseRaisedBy}}</span>
                          </div>
                        </div>

                        <div *ngIf="Msg.queryResponseRaisedBy !== this.UserDetail.name && Msg.queryStatus === 'NULL'"
                          class="incoming_msg">
                          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                              alt="sunil"> </div>
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p>{{Msg.queryResponseMessage}}</p>
                              <span class="time_date"> {{Msg.queryResponseQueryTime}} | {{Msg.queryResponseQueryDate}}</span>
                              <span class="username"> {{Msg.queryResponseRaisedBy}}</span>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="Msg.queryResponseRaisedBy === this.UserDetail.name  && Msg.queryStatus === 'NULL'"
                          class="outgoing_msg">
                          <div class="sent_msg">
                            <p>{{Msg.queryResponseMessage}}</p>
                            <span class="time_date">{{Msg.queryResponseQueryTime}} | {{Msg.queryResponseQueryDate}}</span>
                            <span class="username"> {{Msg.queryResponseRaisedBy}}</span>
                          </div>
                        </div>
                        <div *ngIf="Msg.queryStatus === 'Resolved'" class="query_status query_status_resolved">
                          <div class="incoming_msg_img incoming_msg_img_staus">
                            <img alt="sunil" src="https://ptetutorials.com/images/user-profile.png">
                          </div>
                          <div class="query_status_msg">
                            <p style="margin-bottom: 0;">
                              {{Msg.queryStatus}}
                              <span class="time_date query_status_time">
                                {{Msg.queryResponseQueryTime}} | {{Msg.queryResponseQueryDate}}
                              </span>
                            </p>
                          </div>
                          <div class="query_status_msg" style="text-align: center;">
                            <span>{{Msg.queryResponseRaisedBy}} </span>
                          </div>
                        </div>
                        <div *ngIf="Msg.queryStatus === 'Reopened'" class="query_status query_status_reopen">
                          <div class="incoming_msg_img incoming_msg_img_staus">
                            <img alt="sunil" src="https://ptetutorials.com/images/user-profile.png">
                          </div>
                          <div class="query_status_msg">
                            <p style="margin-bottom: 0;">
                              {{Msg.queryStatus}}
                              <span class="time_date query_status_time">
                                {{Msg.queryResponseQueryTime}} | {{Msg.queryResponseQueryDate}}
                              </span>
                            </p>
                          </div>
                          <div class="query_status_msg" style="text-align: center;">
                            <span>{{Msg.queryResponseRaisedBy}} </span>
                          </div>
                        </div>
                      </div>
                      <div style="height: 34px;">
                         <!-- {{QueryObj|json}} -->
                        <button *ngIf="(QueryObj.status === 'Open' || QueryObj.status === 'Reopened') && ( this.resolvedArray[i] || QueryObj.raisedBy === this.UserDetail.name)"
                          (click)="queryStatusbtn(i,QueryObj.queryId,'Resolved',$event)" class="query_resolved" type="button">Resolved</button>
                        <button *ngIf="QueryObj.status === 'Resolved'" (click)="queryStatusbtn(i,QueryObj.queryId,'Reopened',$event)"
                          class="query_resolved" type="button">Reopen</button>
                      </div>
                     
                      <div *ngIf="QueryObj.status !== 'Resolved' && ( QueryObj.raisedBy === this.UserDetail.name || this.responseArray[i] )" class="type_msg">
                        <div class="input_msg_write">
                          <input type="text" [(ngModel)]="inputMsg[i]" class="write_msg" placeholder="Type a message here" />
                          <button class="msg_send_btn" (click)="addQuery(i,QueryObj,$event)" type="button"><i class="fa fa-paper-plane-o"
                              aria-hidden="true"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>

        <div class="row" *ngIf="!showQueryForm">
          <div class="col-md-12" style="padding: 0;text-align: center;padding: 10px;">
            <button class="raise-new-query-button imp_submit" (click)="showQueryForm = true;">
              <span class="import_cancel_submit_text">+ Raise new query</span>
            </button>
          </div>
        </div>

        <div class="row" *ngIf="showQueryForm">
          <form [formGroup]="raiseForm">
            <div class="col-md-12" style="padding: 10px;">
              <div class="form-group">
                <label for="NameDemo">Title<sup class="redstar">*</sup>:</label>
                <input type="text" class="form-control" formControlName="title" id="NameDemo" aria-describedby="nameHelp"
                  placeholder="Enter title of query">
              </div>
              <div class="alert alert-danger" *ngIf="!!title.touched && title.invalid">
                <div *ngIf="!!title.errors.required">Please Enter name.</div>
                <div *ngIf="!!title.errors.minlength">Name Should be greater than 10 Character.</div>
              </div>
              <div class="form-group">
                <label for="EmailDemo">Description<sup class="redstar">*</sup>:</label>
                <textarea class="form-control" formControlName="description" id="EmailDemo" aria-describedby="EmailDemo"
                  placeholder="Description about query" rows="2"></textarea>
              </div>
              <div class="alert alert-danger" *ngIf="!!description.touched && description.invalid">
                <div *ngIf="!!description.errors.required">Please Enter description.</div>
                <div *ngIf="!!description.errors.minlength">description Should be greater than 10 Character.</div>
              </div>
              <div class="form-group">
                <label for="date">Response By Date<sup class="redstar">*</sup>:</label>
                <p-calendar [showIcon]="false" dateFormat="dd/mm/yy" placeholder="Select date" hideOnDateTimeSelect="true"
                  touchUI="true" formControlName="rspdate"></p-calendar>
                <!-- <p-calendar formControlName="rspdate" [showIcon]="true"
             placeholder="Select" dateFormat="dd.mm.yy" [maxDate]="startNgPrimeDate"
             (onFocus)="selecteddate($event)"></p-calendar>        -->
              </div>
              <div class="alert alert-danger" *ngIf="!!rspdate.touched && !!rspdate.invalid">
                <div *ngIf="!!rspdate.errors.required">Please select Response Date.</div>
              </div>
              <div class="form-group">
                <label for="passDemo">Assign To<sup class="redstar">*</sup>:</label>
                <div class="col-md-12 startingcolumn">
                  <div class="wrap">
                    <div class="transparent_arrow_import"></div>
                    <div class="auto_wrap">
                      <!-- <p-autoComplete 
                          [(ngModel)]="city" 
                          [suggestions]="filteredCitys" 
                          (completeMethod)="filterCitys($event)" 
                          [minLength]="1" 
                          placeholder="Select" 
                          [dropdown]="true">
                          <ng-template let-city pTemplate="item">
                            <div class="ui-helper-clearfix">
                            <div class="autodropclass">{{city}}</div>              
                            </div>
                          </ng-template>
                        </p-autoComplete>    -->
                      <p-autoComplete [style]="{'width':'66%','border-bottom':'1px solid #9B9B9B'}" formControlName="assignto"
                        [suggestions]="filteredassigntosresults" (completeMethod)="searchassignto($event)" field="label"
                        dataKey="id" [size]="30" [minLength]="1" placeholder="Search or Select" [dropdown]="true"
                        (onDropdownClick)="assigntodropdown()">
                      </p-autoComplete>
                    </div>
                  </div>
                </div>
              </div>
              <div class="alert alert-danger paddingleft" *ngIf="!!assignto.touched && !!assignto.invalid">
                <div  *ngIf="!!assignto.errors.required">Please select Assign by.</div>
             </div>
              <div *ngIf="queryformerror && form.invalid" class="alert alert-danger">
                Please fill all the details
              </div>
              <div class="col-md-12 startingcolumn import_button_wrapper">
                <div clss="row" style="text-align: right;float: right;">
                  <div class="import_button_flex">
                    <div class="import_cancel">
                      <button (click)="closeRaiseQueryPopup()" class="import_button_class imp_cancel"><span class="import_cancel_submit_text">Cancel</span></button>
                    </div>
                    <div class="import_submit">
                      <button class="import_button_class imp_submit" (click)="raiseNewQuery(raiseForm.value)"
                        [disabled]="raiseForm.invalid"><span class="import_cancel_submit_text">Submit</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <p-footer></p-footer>
    </p-dialog>
    <!-- popup yes or no -->
    <p-dialog header="" [(visible)]="confirmationPopup" [closable]="false" [modal]="true" [responsive]="true" [minWidth]="200"
    [minY]="70" [maximizable]="false" [baseZIndex]="10000">
    <div class="confirmation_wrapper">
      <div class="headBold">
          Are you sure you want to {{this.globalDecider}}?
      </div>
      <div class="confirmation_inliner_Wrapper">
          <div class="confirmation_inliner">
              <button (click)="confirmationNo()" class="inliner_btn confirm_silver"><span class="confirm_text">NO</span></button>
          </div>
          <div class="confirmation_inliner">
              <button (click)="confirmationYes()" class="inliner_btn confirm_orange"><span class="confirm_text">YES</span></button>
          </div>
      </div>
  </div>
  </p-dialog>