.container-fluid, .row{
    padding:0;
    margin:0;
}
.startingcolumn{
    padding:0;
    margin:0;
}
/* onclick no border color */
input:focus, textarea:focus, select:focus,submit:focus, button:focus {
    outline-offset: 0px !important;
    outline: none !important;
}   
:host >>> .ui-inputtext:focus{
    box-shadow: 0px 0px 0px #ffffff !important;
}
.project_wrapper{
    position: relative;
    top:-131px;
    padding-left:34px;
    padding-right:34px;
    height:700px;
}
.project_body_wrapper{
    margin-bottom:70px; 
    padding-right:7px;
     /* background: red; */
}
.project_body_table{
    /* height: 640px; */
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    padding:20px 10px;
    /*  background-color:yellow; */
}

/* //add project button */
.project_button_block{
    float:right;
    width:160px;
    height:54px;
    margin-right:10px;
    padding-top:16px;
}
.add_project_button{
    height: 38px;	
    width: 160px;	
    border-radius: 4px;	
    background-color: #FF9801;
    border: none;
}
.add_project_button_text{
    height: 18px;	
    width: 125px;	
    color: #FFFFFF;	
    font-family: "Roboto Slab-Bold";	
    font-size: 13px;	
    line-height: 18px;	
    text-align: center;
}

/* projectname Breadcrum*/
.project_text{
    height: 32px;	
    color: #FFFFFF;	
    font-family: "Roboto Slab";	
    font-size: 24px;
    font-weight: normal;	
    letter-spacing: 0.07px;	
    line-height: 32px;
}
.breadcrum_wrapper{
    display: flex;
    align-items: center;
    float: right;
    height: 32px;	
    color: #FFFFFF;	
    font-family: Helvetica;	
    font-size: 12px;	
    font-weight: bold;	
    letter-spacing: 0.04px;	
    line-height: 14px;	
    text-align: right;
    position: relative;
    top:4px;
    /*  width: 290px;	 */
}
.project{
    margin-bottom:28.55px;
}


/* mediaquery */
@media (max-width:1200px){
    .project_button_block{
        width:140px;
        margin-right:0px;
    }
    .add_project_button{
        width:140px;
    }
    .add_project_button_text{
        width:115px;
        font-size:12px;
    }
}
@media (max-width:992px){
    .project_button_block{
        width:120px;
    }
    .add_project_button{
        width:120px;
    }
    .add_project_button_text{
        width:110px;
        font-size:11px;
    }
}
@media (max-width:860px){
    .project_button_block{
        width:110px;
    }
    .add_project_button{
        width:110px;
    }
    .add_project_button_text{
        width:100px;
        font-size:10px;
    }
}

