<!-- <header></header> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 startingcolumn project_wrapper">
      <div class="row">
            <!-- Project header -->
            <div class="col-12 col-md-12 startingcolumn project">
                <div class="row">
                  <div class="col-6 col-md-6 startingcolumn project_left">
                    <div class="project_text">
                      <span>Projects</span>
                    </div>
                  </div>
                  <div class="col-6 col-md-6 startingcolumn project_right">
                    <div class="breadcrum_wrapper">
                      <span id="a">You are here:</span><span>projects</span> 
                    </div>
                  </div>
                </div>
              </div> 
       <!--ends here  -->
        <div class="col-md-10 col-lg-10 col-xl-10 startingcolumn project_body_wrapper">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 startingcolumn project_body_table">
              <div class="row">
                <!-- table starts here -->
                <div class="col-md-12 col-lg-12 col-xl-12 startingcolumn actualtable_wrapper">
                  <planning-table></planning-table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 startingcolumn button_wrapper">
          <div class="project_button_block">
            <button class="add_project_button" *ngIf="this.isAdd" (click)="gotoAddnewproject()"><label class="add_project_button_text">ADD NEW PROJECT</label></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


