<div class="nopadding col-lg-12 col-md-12 col-sm-12">
    <div class="nopadding ">
        <div class="contain">
            <div class=" heading">
                <span class="leftheading">BOQ Details</span>
                <!-- <span class="rightheading">You are here :Add Employee</span> -->
            </div>
            <form [formGroup]="form">
                <div class="outerMostdiv">
                    <div class="maindiv row outerMostdiv1stChild">
                        <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                            <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                                <div class="project_To_duplicate_block">
                                    <span class="client_name_head_text">Name <span class="star">*</span></span>
                                    <div class="input_text">
                                        <input required minlength="3" maxlength="60" type="text" class="text"
                                            formControlName="Boqname" (focus)="focusBoqName()">
                                    </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="Boqname.touched && Boqname.invalid">
                                    <div *ngIf="!!Boqname?.errors.required">Please Enter name.</div>
                                    <div *ngIf="!!Boqname?.errors.minlength">Name Should be greater than 3 Character.</div>
                                    <div *ngIf="!!Boqname?.errors.pattern">Please Enter Valid Name.</div>
                                </div>
                            </div>
                            <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                                <div class="project_To_duplicate_block">
                                    <span class="client_name_head_text">BOQ type <span class="star">*</span></span>
                                <div class="ui-fluid">                                    
                                    <div class="drop_list_client_name">
                                        <p-autoComplete formControlName="boqType" [suggestions]="filteredBOQ"
                                            (completeMethod)="searchBOQ($event)" field="label" dataKey="id" [size]="30"
                                            [minLength]="1" placeholder="Search or Select" [dropdown]="true"
                                            (onDropdownClick)="BOQDropdown()">
                                        </p-autoComplete>
                                    </div>
                                    </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="boqType.touched && boqType.invalid">
                                    <div *ngIf="!!boqType?.errors.required">Please select BOQ Type.</div>
                                </div>
                            </div>
                        </div>
                        <div class="padtp8 col-md-12 startingcolumn clientheading_wrapper ">
                            <div class="headingplusIcon yellow_border">
                                <span class="new_pro_heading_text">Layout Attachment</span>
                            </div>
                            <div *ngIf="!this.finalize" class="plusIcon onlylayoutplusicon">
                                <span class="plus_img" (click)="addLayout()">
                                    <i class="fa fa-plus-circle cp" style="font-size:22px;" mat-button aria-hidden="true" data-toggle="tooltip" title="Add Layout File"></i>
                                    <!-- <img src="assets/images/BlueIcons/icons8-plus-40.png" class="img_class"> -->
                                </span>
                            </div>
                        </div>
                        <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                            <form formArrayName="Layout" class="formclass">
                                <div [formGroupName]="ind" *ngFor="let parameter of Layout['controls']; let ind=index">
                                    <div class="row" style="margin-left:0px;">
                                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                                            <div class="project_To_duplicate_block fileTypeBtnBorder">
                                                <span class="client_name_head_text">Upload</span>
                                                <div class="uploadfile_wrapper">
                                                    <!-- <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*, .DWG, .DXF, .pdf" formControlName="uploadfile"  class="upload"   /> -->
                                                    <input type="file" accept="image/*, .DWG, .DXF, .pdf" (change)="uploadfiledata($event,ind,'layout')"
                                                        formControlName="uploadfile" class="upload" />
                                                    <!-- <input type="file"  (change)="uploadfiledata($event,i,'layout')" name="file" id="file3" class="inputfile upload" formControlName="uploadfile" accept="image/*, .DWG, .DXF, .pdf"/>
                                  <label for="file3" class="layoutfileupload">Choose File</label> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nopadding col-lg-5 col-md-5 col-sm-5">

                                        </div>
                                        <div class="col-md-1 startingcolumn project_to_duplicate_wrapper " [ngClass]="this._communicationService.AddBOQSetHtml?'layouttrashstartcolumn':'rendersTrashicon1'">
                                            <div [ngClass]="this._communicationService.AddBOQSetHtml?'onlylayouttrashicon':'onlylayouttrashicon1'"
                                                class="client_contact_remove delicon">
                                                <!-- <img src="assets/images/BlueIcons/trash.png" class="client_img_icon" (click)="removeParamter(i)"> -->
                                                <i *ngIf="!this.finalize" class="fa fa-trash cp" mat-button (click)="removeLayout(ind)" aria-hidden="true" data-toggle="tooltip" title="Delete Layout File"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="editJourney">
                                    <div class="row">
                                        <div class="col-md-9 startingcolumn project_to_duplicate_wrapper paddingleft6">
                                            <p style="font-size: x-small;margin: 5px 0px" *ngIf="layout.length != 0">Number of
                                                Files: {{ layout?.length }} </p>

                                            <table style="font-size: x-small;margin-bottom: 0px;" class="table" *ngIf="layout.length != 0">
                                                <thead>
                                                    <tr>
                                                        <td style="padding-bottom: 0px;padding-top: 7px;" width="80%">File
                                                            Name</td>
                                                        <td *ngIf="!this.finalize" style="padding-bottom: 0px;padding-top: 7px;">Remove</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of layout">
                                                        <td style="padding-bottom: 0px;padding-top: 7px;"><strong><a
                                                                    [href]="'http://s3.amazonaws.com/wom-documents/'+item.fileObj.filePath"
                                                                    target="new">{{ item?.fileObj.fileNameTimestap }}</a></strong></td>

                                                        <td *ngIf="!this.finalize" style="padding:0px;position: relative;" nowrap #delLayoutFile>
                                                            <i class="fa fa-trash cp" mat-button (click)="deletefromDBnAWS('Layout',item)"
                                                                style="font-size: 15px;padding-top: 12px;padding-left: 25px;"
                                                                aria-hidden="true" data-toggle="tooltip" title="Delete Layout File"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-3 startingcolumn project_to_duplicate_wrapper"></div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- <div class="col-md-12 startingcolumn clientheading_wrapper">
                      <div class="yellow_border">
                        <span class="new_pro_heading_text">Space Details</span>
                        <span class="plus_img" (click)="addSpace()"><img src="assets/images/BlueIcons/icons8-plus-40.png" class="img_class"></span>                     
                      </div>      
                  </div> -->
                        <div class="padtp8 col-md-12 startingcolumn clientheading_wrapper">
                            <div class="headingplusIcon yellow_border">
                                <span class="new_pro_heading_text">Space Details</span>
                            </div>
                            <div *ngIf="!this.finalize" class="plusIcon">
                                <span class="plus_img" (click)="addSpace()">
                                    <i class="fa fa-plus-circle cp" style="font-size:22px;" mat-button aria-hidden="true" data-toggle="tooltip" title="Add Space Details"></i>
                                    <!-- <img src="assets/images/BlueIcons/icons8-plus-40.png" class="img_class"> -->
                                </span>
                            </div>
                        </div>
                        <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                            <form formArrayName="Space" class="formclass">
                                <div [formGroupName]="i" *ngFor="let parameter of Space.controls; let i=index">
                                    <div class="row" style="margin-left:0px;">
                                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                                            <div class="project_To_duplicate_block">
                                                <span class="client_name_head_text">Seating Space<span class="star">*</span></span>
                                <div class="ui-fluid">                                                                                    
                                                <div class="drop_list_client_name">
                                                    <p-autoComplete formControlName="seatingdetails" [suggestions]="filteredSeatingSpace"
                                                        (completeMethod)="searchSeatingSpace($event)" field="label"
                                                        dataKey="id" [size]="30" [minLength]="1" placeholder="Search or Select"
                                                        [dropdown]="true" (onDropdownClick)="seatingSpaceDropdown()">
                                                    </p-autoComplete>
                                                    <!-- <span style="margin-left:50px">Brand: {{brand||'none'}}</span> FOR TESTING PURPOSE -->
                                                </div>
                                                </div>
                                            </div>
                                            <div class="alert alert-danger" *ngIf="!!parameter.controls.seatingdetails.touched && !!parameter.controls.seatingdetails.invalid">
                                                <div *ngIf="!!parameter.controls.seatingdetails.errors.required">Please
                                                    select Space Type.</div>
                                            </div>
                                        </div>
                                        <div class="nopadding col-lg-5 col-md-5 col-sm-5">
                                            <div class="project_To_duplicate_block">
                                                <span class="client_name_head_text">Value<span class="star">*</span></span>
                                                <div class="input_text">
                                                    <input maxlength="30" type="text" class="text" formControlName="noofSeat">
                                                </div>
                                            </div>
                                            <div class="alert alert-danger" *ngIf="!!parameter.controls.noofSeat.touched  &&  !!parameter.controls.noofSeat.invalid">
                                                <div *ngIf="!!parameter.controls.noofSeat.errors.required">Please Enter
                                                    no. of Seat.</div>
                                                <div *ngIf="!!parameter.controls.noofSeat.errors.pattern">Please Enter
                                                    Valid no.</div>
                                            </div>
                                        </div>
                                        <div *ngIf="!this.finalize" [ngClass]="{'delicon1':this._communicationService.AddBOQSetHtml,
                                        'delicon2': !this._communicationService.AddBOQSetHtml}"
                                            class="col-lg-1 col-md-1 col-sm-1 paddtopleft2">
                                            <i class="fa fa-trash cp" mat-button (click)="removeSpace(i)" aria-hidden="true" data-toggle="tooltip" title="Delete Space Details"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="col-md-12 startingcolumn clientheading_wrapper margintop10">
                          <div class="yellow_border" style="display:inline;">
                            <span class="new_pro_heading_text">Renders</span>
                          </div> 
                          <button class="btn btn-primary addSpace" (click)="addRenderSpace()">Add Space</button> 
                      </div> -->
                        <div class="padtp8 col-md-12 startingcolumn clientheading_wrapper">
                            <div class="headingplusIcon yellow_border">
                                <span class="new_pro_heading_text">Renders</span>
                            </div>
                            <div *ngIf="!this.finalize" class="plusIcon">
                                <span class="plus_img">
                                    <button class="btn btn-primary addbtn" (click)="addRenderSpace()">Add Space</button>
                                    <!-- <img src="assets/images/BlueIcons/icons8-plus-40.png" class="img_class"> -->
                                </span>
                            </div>
                        </div>
                        <form formArrayName="Renderspace" class="formclass">
                            <div [formGroupName]="i" *ngFor="let parameter of Renderspace.controls; let i=index">
                                <div class="row" style="margin-left:0px;">
                                    <div style="margin-top:1%;" class="nopadding col-lg-6 col-md-6 col-sm-6">
                                        <div class="project_To_duplicate_block" style="padding-top:10px;">
                                            <span style="margin-top:-1%;" class="client_name_head_text">Select Space<span
                                                    class="star">*</span></span>
                                <div class="ui-fluid">                                                                                
                                                    <div class="drop_list_client_name">
                                                <p-autoComplete formControlName="spacedetails" [suggestions]="filteredRenderSpacelist"
                                                    (completeMethod)="searchRenderSpace($event)" field="label" dataKey="id"
                                                    [size]="30" [minLength]="1" placeholder="Search or Select"
                                                    [dropdown]="true" (onDropdownClick)="selectRenderdropdown()">
                                                </p-autoComplete>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="!!parameter.controls.spacedetails.touched && !!parameter.controls.spacedetails.invalid">
                                            <div *ngIf="!!parameter.controls.spacedetails.errors.required">Please select
                                                Space Type.</div>
                                        </div>
                                    </div>
                                    <!-- fileupload name THREE-->
                                    <div class="col-md-3 startingcolumn project_to_duplicate_wrapper">
                                        <div class="project_half_block">
                                            <span class="client_name_head_text">Name</span>
                                            <div class="contact_person_text_wrapper">
                                                <input type="text" formControlName="fileName1" class="contact_textbox"
                                                    placeholder="Enter">
                                            </div>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="!!parameter.controls.fileName1.touched && !!parameter.controls.fileName1.invalid">
                                            <div *ngIf="!!parameter.controls.fileName1.errors.pattern">Please Enter Valid
                                                Name.</div>
                                        </div>
                                    </div>
                                    <!-- fileupload description THREE-->
                                    <!-- <div class="col-md-4 startingcolumn project_to_duplicate_wrapper">
                                      <div class="project_half_block project_middle_block project_half_block_description">
                                      <span class="client_name_head_text">Description</span>
                                      <div class="description_wrapper">
                                      <textarea formControlName="fileDesc1"   >
                                      </textarea>
                                      </div>
                                      </div>
                                      </div> -->
                                    <!-- upload THREE-->
                                    <div class="col-md-2 startingcolumn project_to_duplicate_wrapper fileTypeBtnBorder">
                                        <div class="project_half_block fileTypeBtnBorder">
                                            <span class="client_name_head_text">Upload</span>
                                            <div class="uploadfile_wrapper">
                                                <!-- <input type="file" multiple ng2FileSelect [uploader]="uploader" accept="image/*" formControlName="uploadfile"  class="upload"   /> -->
                                                <input type="file" name="file" [id]="'file'+i" (change)="uploadfiledata($event,i,'RenderGroup')"
                                                    class="upload inputfile" formControlName="uploadfile1" accept="image/*, .DWG, .DXF, .pdf"
                                                    multiple />
                                                <label [for]="'file'+i" class="Renderfileupload">Choose File</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!this.finalize" [ngClass]="this._communicationService.AddBOQSetHtml?'rendersTrashicon':'rendersTrashicon1'"
                                        class="col-md-1 startingcolumn project_to_duplicate_wrapper">
                                        <div class="client_contact_remove delicon">
                                            <!-- <img src="assets/images/BlueIcons/trash.png" class="client_img_icon" (click)="removeParamter(i)"> -->
                                            <!-- style="font-size: 20px;padding-top:13px" -->
                                            <i class="fa fa-trash cp" mat-button (click)="removeRenderSpace(i , parameter)"
                                                aria-hidden="true" data-toggle="tooltip" title="Delete All Render Files"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-md-5 startingcolumn project_to_duplicate_wrapper">
                                                
                                              </div> -->
                                    <div class="col-md-9 startingcolumn project_to_duplicate_wrapper paddingleft6">
                                        <p style="font-size: x-small;margin: 5px 0px" *ngIf="this.fileLenderArrlength[i] || this.DbRenderdata[i]?.length > 0">Number
                                            of Files: {{ fileLenderArr[i]?.length + DbRenderdata[i]?.length}} </p>

                                        <table style="font-size: x-small;margin-bottom: 0px;" class="table" *ngIf="this.fileLenderArrlength[i] || this.DbRenderdata[i]?.length > 0">
                                            <thead>
                                                <tr>
                                                    <td style="padding-bottom: 0px;padding-top: 7px;" width="80%">File
                                                        Name</td>
                                                    <td *ngIf="!this.finalize" style="padding-bottom: 0px;padding-top: 7px;">Remove</td>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="editJourney">
                                                <tr *ngFor="let item of DbRenderdata[i]">
                                                    <td style="padding-bottom: 0px;padding-top: 7px;"><strong><a [href]="'http://s3.amazonaws.com/wom-documents/'+item.fileObj.path"
                                                                target="new">{{ item?.fileObj.fileNameTimestap }}</a></strong>

                                                    <td *ngIf="!this.finalize" style="padding:0px;position: relative" nowrap #delRender1>
                                                        <i class="fa fa-trash cp" mat-button (click)="deletefromDBnAWS('RenderGroup',item)"
                                                            style="font-size: 15px;padding-top: 12px;padding-left: 25px;"
                                                            aria-hidden="true" data-toggle="tooltip" title="Delete Render File"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody>
                                                <tr *ngFor="let item of fileLenderArr[i]">
                                                    <td style="padding-bottom: 0px;padding-top: 7px;"><strong>{{
                                                            item?.name }}</strong></td>

                                                    <td *ngIf="!this.finalize" style="padding:0px;position: relative;" nowrap #delRender2>
                                                        <i class="fa fa-trash cp" mat-button (click)="deleteARenderFile(item,i)"
                                                            style="font-size: 15px;padding-top: 12px;padding-left: 25px;"
                                                            aria-hidden="true" data-toggle="tooltip" title="Delete Render File"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-3 startingcolumn project_to_duplicate_wrapper"></div>
                                    <!-- <div class="col-md-2 startingcolunamemn project_to_duplicate_wrapper">
                                                    <button type="button" class="btn btn-danger btn-s"
                                                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                                <span class="glyphicon glyphicon-trash"></span> Remove all
                                              </button>
                                                  </div> -->
                                </div>


                            </div>

                        </form>
                        <!-- <div class="col-md-12 startingcolumn clientheading_wrapper">
                          <div class="yellow_border">
                            <span class="new_pro_heading_text">Site Images</span>
                            <span class="plus_img" (click)="addSite()"><img src="assets/images/BlueIcons/icons8-plus-40.png" class="img_class"></span>                     
                          </div>   
                             
                      </div> -->
                        <div class="padtp8 col-md-12 startingcolumn clientheading_wrapper">
                            <div class="headingplusIcon yellow_border">
                                <span class="new_pro_heading_text">Site Images</span>
                            </div>
                            <div *ngIf="!this.finalize" class="plusIcon">
                                <span class="plus_img" (click)="addSite()">
                                    <i class="fa fa-plus-circle cp" style="font-size:22px;" mat-button aria-hidden="true" 
                                    data-toggle="tooltip" title="Add Site Images"></i>
                                    <!-- <img src="assets/images/BlueIcons/icons8-plus-40.png" class="img_class"> -->
                                </span>
                            </div>
                        </div>
                        <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                            <form formArrayName="SiteImages" class="formclass">
                                <div [formGroupName]="i" *ngFor="let parameter of SiteImages.controls; let i=index">
                                    <div class="row" style="margin-left:0px;">
                                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                                            <div class="project_To_duplicate_block">
                                                <span class="client_name_head_text">Project Name<span class="star">*</span></span>
                                                <div class="input_text">
                                                    <input required minlength="3" maxlength="60" type="text" class="text"
                                                        formControlName="projectName">
                                                </div>
                                            </div>
                                            <div class="alert alert-danger" *ngIf="!!parameter.controls.projectName.touched && !!parameter.controls.projectName.invalid">
                                                <div *ngIf="!!parameter.controls.projectName.errors.required">Please
                                                    Enter name.</div>
                                                <div *ngIf="!!parameter.controls.projectName.errors.minlength">Name
                                                    Should be greater than 3 Character.</div>
                                                <div *ngIf="!!parameter.controls.projectName.errors.pattern">Please Enter
                                                    Valid Name.</div>
                                            </div>
                                        </div>
                                        <div class="nopadding col-lg-5 col-md-5 col-sm-5">
                                            <div class="fileTypeBtnBorder project_To_duplicate_block ">
                                                <span class="client_name_head_text">Images
                                                    <!--<span class="star">*</span>--></span>
                                                <div class="input_text">
                                                    <input type="file" (change)="uploadfiledata($event,i,'SiteImages')"
                                                        name="file" [id]="'file2'+i" class="inputfile upload"
                                                        formControlName="projectImages" accept="image/*" multiple />
                                                    <label [for]="'file2'+i" class="siteImagesFileupload">Choose File</label>
                                                </div>
                                            </div>
                                            <!-- <div class="alert alert-danger" *ngIf="noofSeat[i].touched  &&  noofSeat[i].invalid">
                                          <div  *ngIf="noofSeat[i].errors.required">Please Enter no. of Seat.</div>
                                          <div  *ngIf="noofSeat[i].errors.pattern">Please Enter Valid no.</div>
                                       </div> -->
                                        </div>

                                        
                                        <div *ngIf="!this.finalize" [ngClass]="this._communicationService.AddBOQSetHtml?'delicon1':'delicon2'"
                                            class="col-lg-1 col-md-1 col-sm-1 paddtopleft2 ">
                                            <i class="fa fa-trash cp" mat-button (click)="removeSite(i)" aria-hidden="true" data-toggle="tooltip" title="Delete All Site Images"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 startingcolumn project_to_duplicate_wrapper paddingleft6">
                                            <p style="font-size: x-small;margin: 5px 0px" *ngIf="this.fileSiteArrlength[i] || this.DbsiteImagesdata[i]?.length > 0">Number
                                                of Files: {{ fileSiteArr[i]?.length  + DbsiteImagesdata[i]?.length }} </p>

                                            <table style="font-size: x-small;margin-bottom: 0px;" class="table" *ngIf="this.fileSiteArrlength[i] || this.DbsiteImagesdata[i]?.length > 0">
                                                <thead>
                                                    <tr>
                                                        <td style="padding-bottom: 0px;padding-top: 7px;" width="80%">File
                                                            Name</td>
                                                        <td *ngIf="!this.finalize" style="padding-bottom: 0px;padding-top: 7px;">Remove</td>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="editJourney">
                                                    <tr *ngFor="let item of DbsiteImagesdata[i]">
                                                        <td style="padding-bottom: 0px;padding-top: 7px;"><strong><a
                                                                    [href]="'http://s3.amazonaws.com/wom-documents/'+item.fileObj.path"
                                                                    target="new">{{ item?.fileObj.fileNameTimestap}}</a></strong>

                                                        <td *ngIf="!this.finalize" style="padding:0px;position: relative" nowrap #delSite1>
                                                            <i class="fa fa-trash cp" mat-button (click)="deletefromDBnAWS('SiteImages',item)"
                                                                style="font-size: 15px;padding-top: 12px;padding-left: 25px;"
                                                                aria-hidden="true" data-toggle="tooltip" title="Delete Site Image"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody>
                                                    <tr *ngFor="let item of fileSiteArr[i]">
                                                        <td style="padding-bottom: 0px;padding-top: 7px;"><strong>{{
                                                                item?.name }}</strong></td>

                                                        <td *ngIf="!this.finalize" style="padding:0px;position: relative;" nowrap #delSite2>
                                                            <i class="fa fa-trash" mat-button (click)="deleteASiteImageFile(item,i)"
                                                                style="font-size: 15px;padding-top: 12px;padding-left: 25px;"
                                                                aria-hidden="true" data-toggle="tooltip" title="Delete Site Image"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-3 startingcolumn project_to_duplicate_wrapper"></div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="formerror && form.invalid" class="alert alert-danger">
                        Please fill all the details
                    </div>
                    <div>
                    <div *ngIf="duplicateBoqName" class="alert alert-danger">
                        {{this.message}}
                    </div>
                    </div>
                    <div [ngClass]="{'backendErrorClass':this._communicationService.backendError}" *ngIf="this._communicationService.backendError">
                        {{this._communicationService.backendMsg}}
                    </div>
                    <!-- <pre>{{form.value |json}}</pre> -->
                    <div class="nopadding col-lg-12 col-md-12 width98">
                        <span class="client_name_head_text">&nbsp;</span>
                        <input type="submit" value="Submit" class="btn btn-success1" (click)="submit(form.value,'submit')" *ngIf="!editJourney && !this.finalize" [disabled]="form.invalid">
                        <input type="submit" value="Update" class="btn btn-success1" (click)="submit(form.value,'update')" *ngIf="editJourney && !this.finalize" [disabled]="form.invalid">
                        <input type="submit" value="Cancel" class="btn btn-success2" (click)="Cancel()">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<p-dialog header="" [(visible)]="display" [closable]="false" [modal]="true" [responsive]="true" [minWidth]="200" [minY]="70"
    [maximizable]="false">
    <div class="container extraspace">
        <p class="headBold">Are you sure you want to delete?</p>
        <button type="button" class="btn1 popupbtn deletebtn yesBtn" (click)="deleteattachfile()">Yes</button>
        <button type="button" class="btn1 popupbtn deletebtn noBtn" (click)="closeDialog()">No</button>
    </div>
</p-dialog>