<div class=" heading">
  <span class="leftheading">Reset Password</span>
  <!-- <span class="rightheading">You are here : Vendor</span> -->
</div>
<div class="maindiv">
  <form [formGroup]="form">
    <div class="innerdiv">
      <div class="inputdiv">
        <span>Enter Email Id <span class="star">*</span></span><br>
        <span> <input type="text" formControlName="email" type="text" (keydown)="onkeyDownAllFields()"></span>
      </div>
      <div class="alert alert-danger" *ngIf="!!form.controls.email.touched  &&  form.controls.email.invalid">
          <div *ngIf="!!form.controls.email.errors.pattern">Please Enter Valid Email Address.</div>
          <div *ngIf="!!form.controls.email.errors.required">Please Enter Email Address.</div>
      </div>
      <div [ngClass]="{'backendErrorClass':this._communicationService.backendError}" *ngIf="this._communicationService.backendError">
        {{this._communicationService.backendMsg}}
      </div>
      <br>
      <div>
        <input type="submit" value="Reset" class="btn btn-success1" (click)="reset(this.form.value)" [disabled]="form.invalid">
        <input type="submit" value="Cancel" class="btn btn-success2" (click)="cancel()">
      </div>
      <br>
    </div>
  </form>
</div>