<div class="nopadding col-lg-12 col-md-12 col-sm-12">
    <div class="nopadding ">
        <div class="contain">
            <div class=" heading">
                <span class="leftheading">Manage Privilages</span>
                <!-- <span class="rightheading">You are here :Add Employee</span> -->
            </div>
            <form [formGroup]="form">
                <div class="maindiv row ">
                    <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <div class="client_name_head_text">Role Name
                                    <span class="star" *ngIf="!edit">*</span>
                                </div>
                                <div class="input_text">
                                    <input type="text" class="text" [readonly]="edit" formControlName="role" (keydown)="onkeyDownAllFields()">
                                </div>
                            </div>
                            <div style="color: red; font-size:10px;" *ngIf="role.touched && role.invalid">
                                <div *ngIf="!!role.errors.pattern">
                                        Please enter valid role name
                                </div>
                                <div  *ngIf="!!role?.errors.required">
                                        Please enter role name
                                </div>
                            </div>
                        </div>
                        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                            <div class="project_To_duplicate_block">
                                <div class="client_name_head_text">Display Name
                                    <span class="star">*</span>
                                </div>
                                <div class="input_text">
                                    <input type="text" class="text" formControlName="display_name" (keydown)="onkeyDownAllFields()">
                                </div>
                            </div>
                            <div style="color: red; font-size:10px;" *ngIf="display_name.touched && display_name.invalid">
                                    <div *ngIf="!!display_name.errors.pattern">
                                            Please enter valid display name
                                    </div>
                                    <div  *ngIf="!!display_name?.errors.required">
                                            Please enter display name
                                    </div>
                            </div>
                        </div>
                    </div>
                    <form formArrayName="Parameter" class="formclass">
                        <!-- {{this.form.value|json}} -->
                        <div [formGroupName]="i" *ngFor="let parameter of Parameter.controls; let i=index">
                            <div class="nopadding col-lg-12 col-md-12 col-sm-12 empheading">
                                <div class="nopadding col-lg-12 col-md-12 col-sm-12 check_heading">
                                    <input type='text' value= {{parameter.value.functionalityname.name}} [readonly]="ipnutBox" class="inputbox_name" formControlName="functionalityname">
                                </div>
                                <div class="nopadding col-lg-12 col-md-12 col-sm-12">
                                    <div class="nopadding col-lg-3 col-md-3 col-sm-3">
                                        <span>
                                            <input type="checkbox" formControlName="Chk1">
                                        </span>&nbsp;
                                        <span class="check_lable">Listing</span>
                                    </div>
                                    <div class="nopadding col-lg-3 col-md-3 col-sm-3">
                                        <span>
                                            <input type="checkbox" formControlName="Chk2">
                                        </span>&nbsp;
                                        <span class="check_lable">Add</span>
                                    </div>
                                    <div class="nopadding col-lg-3 col-md-3 col-sm-3">
                                        <span>
                                            <input type="checkbox" formControlName="Chk3">
                                        </span>&nbsp;
                                        <span class="check_lable">Edit</span>
                                    </div>
                                    <div class="nopadding col-lg-3 col-md-3 col-sm-3">
                                        <span>
                                            <input type="checkbox" formControlName="Chk4">
                                        </span>&nbsp;
                                        <span class="check_lable">Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="formerror && form.invalid" class="alert alert-danger">
                        Please fill all the details
                    </div>
                    <div *ngIf="this.errorMsg" class="alert alert-danger">
                        {{this.message}}
                    </div>
                    <div [ngClass]="{'backendErrorClass':this._communicationservice.backendError}" *ngIf="this._communicationservice.backendError">
                            {{this._communicationservice.backendMsg}}
                        </div>
                    <!-- <div class="nopadding col-lg-12 col-md-12">
                        <span class="client_name_head_text">&nbsp;</span>
                        <input type="submit" value="Update" class="btn btn-success1" *ngIf="edit" (click)="update(form.value)">
                        <input type="submit" value="Add" class="btn btn-success1" *ngIf="!edit" (click)="add(form.value)">
                        <input type="submit" value="Cancel" class="btn btn-success2" (click)="cancel()">
                    </div> -->
                </div>
            </form>
            <div class="nopadding col-lg-12 col-md-12 extraspace">
                    <span class="client_name_head_text">&nbsp;</span>
            <div class="clientright">
            <div class="clientInliner">
                <input type="submit" value="Cancel" class="btn btn-success2" (click)="cancel()">            
            </div>
            <div class="clientInliner">
                <input type="submit" value="Update" class="btn btn-success1" *ngIf="edit" (click)="update(form.value)" [disabled]="form.invalid">
                <input type="submit" value="Submit" class="btn btn-success1" *ngIf="!edit" (click)="add(form.value)" [disabled]="form.invalid">
            </div>
            </div>
                </div>
    <div class="col-lg-12 col-md-12" class="extrabottom">
        </div>
    </div>
</div>

<!-- Add edit message pop-up -->
<p-dialog header="" [(visible)]="display_message_for_role" [closable]="false" [modal]="true" [responsive]="true" [minWidth]="200"
    [minY]="70" [maximizable]="false" [baseZIndex]="10000" appendTo="body">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            {{this.message}}
        </div>
        <div class="ok_class">
            <button (click)="okMessageForRole()" class="pop_button pop_button_orange">OK</button>
        </div>
    </div>
</p-dialog>