<div class="container-fluid">
  <div class="row">
    <form [formGroup]="form">
      <div class="col-md-12 starting_column main_wrapper">
        <div class="row">
          <div class="col-md-12 starting_column head_orange">
            <span>Parameters</span>
          </div>
          <div class="col-md-12 starting_column head_wrapper">
            <div class="row">
              <div class="col-md-4 starting_column">
                <div class="project_To_duplicate_block100">
                  <span class="client_name_head_text">Category
                    <span class="star">*</span>
                  </span>
                  <div class="ui-fluid">
                  <div class="drop_list_client_name1">
                    <p-autoComplete formControlName="category" [suggestions]="filteredcategory" (completeMethod)="searchcategory($event)" field="label"
                      dataKey="id" [size]="30" [minLength]="1" placeholder="Search or Select" [dropdown]="true" forceSelection="true"
                      (onDropdownClick)="categoryDropdown()" disabled="true" (onFocus)="onkeyDownAllFields()">
                    </p-autoComplete>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 starting_column">
                <div class="project_To_duplicate_block4 right_class">
                  <span class="client_name_head_text">Sub Category
                    <span class="star">*</span>
                  </span>
                  <div class="ui-fluid">
                  <div class="drop_list_client_name">
                    <p-autoComplete formControlName="subcategory" [suggestions]="filteredsubcategory" (completeMethod)="searchsubcategory($event)"
                      field="label" dataKey="id" [size]="30" [minLength]="1" placeholder="Search or Select" [dropdown]="true"
                      (onSelect)="showItems($event)" [disabled]="viewmode" (onDropdownClick)="subcategoryDropdown()" forceSelection="true" (onFocus)="onkeyDownAllFields()">
                    </p-autoComplete>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 starting_column">
                <div class="project_To_duplicate_block4 right_class">
                  <span class="client_name_head_text">Items
                    <span class="star">*</span>
                  </span>
                  <div class="ui-fluid">
                  <div class="drop_list_client_name">
                    <p-autoComplete formControlName="items" [suggestions]="filtereditems" (completeMethod)="searchitems($event)" field="label"
                      dataKey="id" [size]="30" [minLength]="1" placeholder="Search or Select" [dropdown]="true" (onSelect)="showParameters($event)"
                      [disabled]="hideitem" (onDropdownClick)="itemsDropdown()" forceSelection="true" (onFocus)="onkeyDownAllFields()">
                    </p-autoComplete>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 starting_column">
                <div class="project_To_duplicate_block100 right_class multi_class">
                  <span class="client_name_head_text">Multiplier
                    <span class="star">*</span>
                  </span>
                  <div class="drop_list_client_name1">
                    <input type="text" formControlName="multiplier" (keydown)="onkeyDownAllFields()" class="mulint">
                  </div>
                  
                </div>
                <div *ngIf="!!multiplier.touched && !!multiplier.invalid" class="project_To_duplicate_block1000 right_class multi_class">
                    <div  *ngIf="!!multiplier?.errors.required">
                        Please enter the number
                     </div>
                  <div *ngIf="!!multiplier.errors.pattern">
                    Please enter valid number
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="starting_column col-lg-12 col-md-12 col-sm-12 addparam">
            <!-- <span class="client_name_head_text">&nbsp;</span> -->
            <input *ngIf="isAddParam || isEditParam" type="submit" value="Add Parameters" class="btn btn-success1" (click)="addParameter()"
              [disabled]="showAddParameterButton" placeholder="Enter">
          </div>
          <div *ngIf="isAddParam || isEditParam" >
              <div *ngIf="showMsg" class="alert alert-danger">
                  Add Parameters for this Item
                </div>
          </div>
          <form formArrayName="Parameter">
            <div class="col-md-12 starting_column loop_body_header client_name_head_text" *ngIf="showTable">
              <div class="row">
                <div class="col-md-1 starting_column">
                  Sr.No
                </div>
                <div class="col-md-2 starting_column">
                  Parameter<span class="star">*</span>
                </div>
                <div class="col-md-2 starting_column">
                  Parameter Option<span class="star">*</span>
                </div>
                <div class="col-md-2 starting_column">
                  Input Type<span class="star">*</span>
                </div>
                <div class="col-md-2 starting_column">
                  <div>Cost</div>
                </div>
                <div class="col-md-2 starting_column">
                  <div>Units</div>
                </div>
                <div class="col-md-1 starting_column">
                  <span class="actionsclass">Actions</span>
                </div>
              </div>
            </div>
            <!-- For loop -->
            <div class="col-md-12 starting_column forloop_class borderbottomclass" [formGroupName]="i" *ngFor="let param of Parameter.controls; let i=index">
              <div class="row">
                <div class="col-md-1 starting_column">
                  <div class="project_To_duplicate_block3">
                    <Span class="num_space">{{i+1}}</Span>
                  </div>
                </div>
                <div class="col-md-2 starting_column">
                  <div class="project_To_duplicate_block1">
                    <input type="text" formControlName="configparameter" class="add_param_input_class" placeholder="Enter" (keydown)="onkeyDownAllFields()">
                  </div>
                  <div class="alert alert-danger leftspace" *ngIf="!!param.controls.configparameter.touched && !!param.controls.configparameter.invalid">
                    <div *ngIf="!!param.controls.configparameter.errors.required">Please Enter the Name</div>
                  </div>
                </div>
                <div class="col-md-2 starting_column">
                  <div class="project_To_duplicate_block1">
                    <input type="text" formControlName="configparameteroption" class="add_param_input_class" placeholder="Enter" (keydown)="onkeyDownAllFields()">
                  </div>
                  <div class="alert alert-danger leftspace" *ngIf="!!param.controls.configparameteroption.touched && !!param.controls.configparameteroption.invalid">
                    <div *ngIf="!!param.controls.configparameteroption.errors.required">Please Enter the Option</div>
                  </div>
                </div>
                <div class="col-md-2 starting_column">
                  <div class="project_To_duplicate_block33">
                      <div class="ui-fluid">
                    <div class="drop_list_client_name">
                      <p-autoComplete formControlName="inputtype" [suggestions]="filteredinputtype" (completeMethod)="searchinputtype($event)"
                        field="label" dataKey="id" [size]="30" [minLength]="1" placeholder="Search or Select" (onSelect)="showPlusToAdd($event,i)"
                        [dropdown]="true" [disabled]="param.value.type === 'd'" (onDropdownClick)="inputtypeDropdown()" (onFocus)="onkeyDownAllFields()">
                      </p-autoComplete>
                    </div>
                    </div>

                  </div>
                  <div class="alert alert-danger leftspace" *ngIf="!!param.controls.inputtype.touched && !!param.controls.inputtype.invalid">
                    <div *ngIf="!!param.controls.inputtype.errors.required">Please Enter the Input Type</div>
                  </div>
                </div>
                <div class="col-md-2 starting_column">
                  <div class="project_To_duplicate_block1" *ngIf="param.value.inputtype.label !== 'String Dropdown'">
                    <!-- <input type="text" formControlName="cost" class="add_param_input_class" placeholder="Enter" (keyup)="onkeyup($event, 'number')" (keydown)="onkeyDownAllFields()"> -->
                    <input type="text" formControlName="cost" class="add_param_input_class" placeholder="Enter" (keydown)="onkeyDownAllFields()"
                    [value]="param.value.cost | newcurrency">
                  </div>
                </div>
                <div class="col-md-2 starting_column">
                  <div class="project_To_duplicate_block1" *ngIf="param.value.inputtype.label !== 'String Dropdown'">
                      <div class="ui-fluid">
                    <div class="drop_list_client_name">
                      <p-autoComplete formControlName="unit" [suggestions]="filteredunits" (completeMethod)="searchunits($event)" field="label"
                        dataKey="id" [size]="30" [minLength]="1" placeholder="Search or Select" [dropdown]="true" (onDropdownClick)="unitDropdown()" forceSelection="true">
                      </p-autoComplete>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 starting_column">
                  <div class="project_To_duplicate_block5">
                    <div class="inliner">
                      <div *ngIf="param.value.inputtype.label === 'String Dropdown'" class="actionright">
                            <img src="assets/images/BlueIcons/icons8-plus-40.png" class="search_image_icon" (click)="addParameterValue(i)" *ngIf="!togglePlusMinus[i][i]; else templateName" data-toggle="tooltip" title="Open Dropdown Values">
                        <ng-template #templateName>
                            <img src="assets/images/BlueIcons/icons8-minus-40.png" class="search_image_icon" (click)="addParameterValue(i)" data-toggle="tooltip" title="Close Dropdown Values">
                        </ng-template>
                      </div>
                      <div>
                        <img src="assets/images/BlueIcons/icons8-cancel-40.png" class="search_image_icon" *ngIf="isDeleteParam" (click)="removeParameter(i,param)" data-toggle="tooltip" title="Delete Parameter">                          
                      </div>
                    </div>
                  </div>
                </div>
                <!-- adding input values -->
                <div formArrayName="AddingValues" class="widthfull">
                  <div>
                    <div class="col-md-12 starting_column client_name_head_text2 topspace" *ngIf="param.value.inputtype.label === 'String Dropdown' && togglePlusMinus[i][i]">
                      <div class="row">
                        <div class="col-md-1 starting_column"></div>
                        <div class="col-md-8 starting_column borderclass">
                          <div class="row">
                            <div class="col-md-3 starting_column">
                              <div>
                                Name<span class="star">*</span>
                              </div>
                            </div>
                            <div class="col-md-3 starting_column">
                              <div>
                                Cost
                              </div>
                            </div>
                            <div class="col-md-3 starting_column">
                              <div>
                                Unit
                              </div>
                            </div>
                            <div class="col-md-3 starting_column">
                              <div>
                                Action
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 starting_column"></div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 starting_column" [formGroupName]="j" *ngFor="let addvalue of param.get('AddingValues').controls; let j=index">
                    <!-- <div class="row" *ngIf="ToggleIndex.includes(i)"> -->
                    <div class="row" *ngIf="param.value.inputtype.label === 'String Dropdown' && togglePlusMinus[i][i]">
                      <div class="col-md-1 starting_column">
                      </div>
                      <div class="col-md-8 starting_column borderclasslrb">
                        <div class="row">
                          <div class="col-md-3 starting_column">

                            <div class="project_To_duplicate_block10">
                              <input type="text" class="add_param_input_class" formControlName="addvaluesname" placeholder="Enter" (keydown)="onkeyDownAllFields()">
                            </div>
                            <div class="alert alert-danger leftspace" *ngIf="!!addvalue.controls.addvaluesname.touched && !!addvalue.controls.addvaluesname.invalid">
                              <div *ngIf="!!addvalue.controls.addvaluesname.errors.required">Please Enter the Name</div>
                            </div>
                          </div>
                          <div class="col-md-3 starting_column">

                            <div class="project_To_duplicate_block10">
                              <!-- <input type="text" class="add_param_input_class" formControlName="stringDropdowncost" placeholder="Enter" (keyup)="onkeyup($event, 'number')" (keydown)="onkeyDownAllFields()"> -->
                              <input type="text" class="add_param_input_class" formControlName="stringDropdowncost" placeholder="Enter" (keydown)="onkeyDownAllFields()"                           
                              [value]="addvalue.value.stringDropdowncost | newcurrency">
                            </div>
                          </div>
                          <div class="col-md-3 starting_column">

                            <div class="project_To_duplicate_block22">
                                <div class="ui-fluid">
                              <div class="drop_list_client_name">
                                <p-autoComplete formControlName="stringDropdownunit" [suggestions]="filteredStringunits" (completeMethod)="searchStringunits($event)"
                                  field="label" dataKey="id" [size]="30" [minLength]="1" placeholder="Search or Select" [dropdown]="true"
                                  [disabled]="viewmode" (onDropdownClick)="unitStringDropdown()" forceSelection="true" (onFocus)="onkeyDownAllFields()">
                                </p-autoComplete>
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3 starting_column">

                            <div class="project_To_duplicate_block12">
                          <span style="display:inline-block;position:relative" #removeparam>
                              <img src="assets/images/BlueIcons/icons8-cancel-40.png" class="search_image_icon" *ngIf="isDeleteParam" (click)="deleteNewValues(param.controls.AddingValues, j,addvalue,param)" data-toggle="tooltip" title="Delete Dropdown Name">                          
                          </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 starting_column"></div>

                      <!-- <div class="col-md-3 starting_column"></div> -->
                    </div>
                  </div>
                  <div class="col-md-12 starting_column">
                    <div class="row">
                      <div class="col-md-1 starting_column"></div>
                      <div class="col-md-8 starting_column">
                        <div class="addbtnclass" *ngIf="param.value.inputtype.label === 'String Dropdown' && togglePlusMinus[i][i]">
                          <button class="btn2" (click)="addNewValues(param.controls.AddingValues)" >Add Values </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </form>
          <div *ngIf="formerror && form.invalid" class="alert alert-danger">
            Please fill all the details
          </div>
          <div *ngIf="showMsgDuplicate" class="alert alert-danger">
            Parameters Name should be unique
          </div>
          <!-- <div *ngIf="successboolean" class="greenclass" [ngClass]="{'greenclass':successboolean}">
            {{this.messagefromdb}}
          </div> -->
          <div [ngClass]="{'greenclass':successboolean,
                            'redclass':successbooleanred}">
            <span *ngIf="successboolean">
              {{this.messagefromdb}}
            </span>
            <span *ngIf="successbooleanred">
              {{this.redmessagefromdb}}
            </span>
          </div>
          <div [ngClass]="{'backendErrorClass':this._communicationservice.backendError}" *ngIf="this._communicationservice.backendError">
            {{this._communicationservice.backendMsg}}
        </div>
          <div class="starting_column col-lg-12 col-md-12 cancelsubmit">
            <!-- <span class="client_name_head_text">&nbsp;</span> -->
            <input *ngIf="isAddParam || isEditParam" type="submit" value="Submit" class="btn btn-success1" (click)="Submit(form.value)" [disabled]="form.invalid">
            <input type="submit" value="Cancel" class="btn btn-success2" (click)="Cancel()">
          </div>
        </div>
      </div>
      <br>
      <br>
    </form>
  </div>
</div>

<!-- delete dialog box -->
<p-dialog header="" [(visible)]="displaydeletedialog" [closable]="false" [modal]="true" [responsive]="true" [minWidth]="200"
  [minY]="70" [maximizable]="false" [baseZIndex]="10000" appendTo="body">
  <div class="pop_open_close_wraper relativeclass">
    <div class="pop_open_close_header pop_open_close_bottom">
      <p class="headBold" *ngIf="parameterPop">Are you sure you want to delete this Parameter?</p>
      <p class="headBold" *ngIf="stringDropdownPop">Are you sure you want to delete this String Dropdown Name?</p>
    </div>
    <div class="popup_yesno">
        <button (click)="showOpenCloseDialog()" class="pop_button pop_button_orange">YES</button>
        <button (click)="closeOpenCloseDialog()" class="pop_button pop_button_silver">NO</button>
    </div>
  </div>
</p-dialog>