<div class="contain">
        <div class=" heading">
            <span class="leftheading">Product</span>
            <!-- <span class="rightheading">You are here : Client</span> -->
        </div>
        <form [formGroup]="form">
            <div class="maindiv row ">
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Category <span class="star">*</span></span>
                            <div class="ui-fluid">
                            <div class="drop_list_client_name">
                                <p-autoComplete formControlName="category" [suggestions]="filteredCatresults"
                                    (completeMethod)="searchCategory($event)" field="label" dataKey="id" [size]="30"
                                    [minLength]="1" placeholder="Search or Select" [dropdown]="true" (onDropdownClick)="catdropdown()"
                                    (onSelect)="getsubCatDropdown($event)">
                                </p-autoComplete>
                            </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                            <div *ngIf="!!category.errors.required">Please select Category.</div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Sub-Category <span class="star">*</span></span>
                            <div class="ui-fluid">
                            <div class="drop_list_client_name">
                                <p-autoComplete formControlName="subcategory" [suggestions]="filteredSubCatresults"
                                    (completeMethod)="searchSubCategory($event)" field="label" dataKey="id" [size]="30"
                                    [minLength]="1" placeholder="Search or Select" [dropdown]="true" (onDropdownClick)="subCatdropdown()"
                                    (onSelect)="getItems($event)">
                                </p-autoComplete>
                            </div>
                        </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="subcategory.touched && subcategory.invalid">
                            <div *ngIf="!!subcategory.errors.required">Please select Sub Category.</div>
                        </div>
                    </div>
                </div>
    <!--  -->
    <div class=" col-lg-12 col-md-12 col-sm-12">
        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
            <div class="project_To_duplicate_block">
                <span class="client_name_head_text">Item <span class="star">*</span></span>
                <div class="ui-fluid">            
                <div class="drop_list_client_name">
                    <p-autoComplete formControlName="item" [suggestions]="filtereditemresults"
                        (completeMethod)="searchfiltereditemresults($event)" field="label" dataKey="id" [size]="30"
                        [minLength]="1" placeholder="Search or Select" [dropdown]="true" (onDropdownClick)="filtereditemresultsdropdown()"
                        (onSelect)="getParamList($event)">
                    </p-autoComplete>
                </div>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="item.touched && item.invalid">
                <div *ngIf="!!item.errors.required">Please select Item.</div>
            </div>
        </div>
        <div class="nopadding col-lg-6 col-md-6 col-sm-6">
            <!-- <div class="project_To_duplicate_block">
                <span class="client_name_head_text">Sub-Category <span class="star">*</span></span>
                <div class="drop_list_client_name">
                    <p-autoComplete formControlName="subcategory" [suggestions]="filteredSubCatresults"
                        (completeMethod)="searchSubCategory($event)" field="label" dataKey="id" [size]="30"
                        [minLength]="1" placeholder="Search or Select" [dropdown]="true" (onDropdownClick)="subCatdropdown()"
                        (onSelect)="getParamList($event)">
                    </p-autoComplete>
                </div>
            </div> -->
            <!-- <div class="alert alert-danger" *ngIf="subcategory.touched && subcategory.invalid">
                <div *ngIf="subcategory.errors.required">Please select Sub Category.</div>
            </div> -->
        </div>
    </div>
    <!--  -->
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Product Name <span class="star">*</span></span>
                            <div class="input_text">
                                <input  maxlength="60" type="text" class="text" formControlName="productName">
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="productName.touched && productName.invalid">
                            <div *ngIf="!!productName.errors.required">Please enter Product Name.</div>
                            <div *ngIf="!!productName.errors.minlength">Product Name should be greater than 3 character.</div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">SKU No <span class="star">*</span></span>
                            <div class="input_text">
                                <input  type="text" class="text" formControlName="sku" [readonly]="editBoolean">
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="sku.touched && sku.invalid">
                            <div *ngIf="!!sku.errors.required">Please enter SKU No.</div>
                            <div  *ngIf="!!sku.errors.minlength">SKU No should be greater than 3 digit.</div>
                            <div *ngIf="!!sku.errors.pattern">Please enter valid SKU No.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Type <span class="star">*</span></span>
                            <div class="ui-fluid">                        
                            <div class="drop_list_client_name">
                                <p-autoComplete formControlName="type" [suggestions]="filteredTyperesults"
                                    (completeMethod)="searchType($event)" field="label" dataKey="id" [size]="30"
                                    [minLength]="1" placeholder="Search or Select" [dropdown]="true" (onDropdownClick)="typedropdown()"
                                    >
                                </p-autoComplete>
                            </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="type.touched && type.invalid">
                            <div *ngIf="!!type.errors.required">Please select Type.</div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block1">
                            <span class="client_name_head_text">Image Upload <span class="star">*</span></span>
                            <div class="fileupload">
                                <span *ngIf="editBoolean && S3image"> <a [href]="'http://s3.amazonaws.com/wom-documents/'+this.imageArrayEdit['product_src']">{{S3imagename}}</a> </span> 
                                <input  type="file" accept='image/*' (change)="selectFile($event)" formControlName="image">
                            </div> 
                        </div>
                        <div class="alert alert-danger" *ngIf="image.touched && image.invalid">
                            <div *ngIf="!!image.errors.required">Please select Type.</div>
                        </div>
                    </div>
                </div>
    
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Initial Quantity <span class="star">*</span></span>
                            <div class="input_text">
                                <input  type="text" class="text" (keyup)="onkeyup($event, 'number')"
                                    formControlName="initialQuantity">
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="initialQuantity.touched && initialQuantity.invalid">
                            <div *ngIf="!!initialQuantity.errors.required">Please enter Initial Quantity.</div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Price <span class="star">*</span></span>
                            <div class="input_text">
                                <input  type="text" class="text" formControlName="price"
                                [value]="this.form.get('price').value | newcurrency">
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                            <div *ngIf="!!price.errors.required">Please enter Price.</div>
                            <div *ngIf="!!price.errors.pattern">Please enter valid number.</div>
                        </div>
                    </div>
                </div>
    
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Cost Price <span class="star">*</span></span>
                            <div class="input_text">
                                <input  type="text" readonly class="text" formControlName="costprice"
                                [value]="this.form.get('costprice').value | newcurrency">
                            </div>
                        </div>
                        <!-- <div class="alert alert-danger" *ngIf="costprice.touched && costprice.invalid">
                            <div *ngIf="!!costprice.errors.required">Please enter Cost Price.</div>
                            <div *ngIf="!!costprice.errors.pattern">Please enter only numeric value.</div>
                        </div> -->
                    </div>
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Retail Price <span class="star">*</span></span>
                            <div class="input_text">
                                <input  type="text" class="text" formControlName="retailprice"
                                [value]="this.form.get('retailprice').value | newcurrency">
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="retailprice.touched && retailprice.invalid">
                            <div *ngIf="!!retailprice.errors.required">Please enter Retail Price.</div>
                            <div *ngIf="!!retailprice.errors.pattern">Please enter valid number.</div>
                        </div>
                    </div>
                </div>
    
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <!-- <span class="client_name_head_text">Sale Price <span class="star">*</span></span> -->
                            <span class="client_name_head_text">Sale Price </span>
                            <div class="input_text">
                                <!-- <input  required pattern="^\d+(\.\d{1,2})?$" type="text" class="text" formControlName="saleprice"> -->
                                <input type="text" class="text" formControlName="saleprice"
                                [value]="this.form.get('saleprice').value | newcurrency">
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="saleprice.touched && saleprice.invalid">
                            <!-- <div *ngIf="saleprice.errors.required">Please enter Sale Price.</div> -->
                            <div *ngIf="!!saleprice.errors.pattern">Please enter valid number.</div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Weight </span>
                            <!-- <span class="client_name_head_text">Weight <span class="star">*</span></span> -->
                            <div class="input_text">
                                <!-- <input required pattern="^[0-9.]+\s?[A-Za-z]*$" type="text" class="text" formControlName="weight"> -->
                                <input  type="text" class="text" formControlName="weight">
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="weight.touched && weight.invalid">
                            <!-- <div *ngIf="weight.errors.required">Please enter Weight.</div> -->
                            <div *ngIf="!!weight.errors.pattern">Please enter valid number.</div>
                        </div>
                    </div>
                </div>
    
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Width</span>
                            <!-- <span class="client_name_head_text">Width <span class="star">*</span></span> -->
                            <div class="input_text">
                                <input type="text" class="text" formControlName="width">
                                <!-- <input required pattern="^[0-9.]+\s?[A-Za-z]*$" type="text" class="text" formControlName="width"> -->
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="width.touched && width.invalid">
                            <!-- <div *ngIf="width.errors.required">Please enter Width.</div> -->
                            <div *ngIf="!!width.errors.pattern">Please enter valid number.</div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <span class="client_name_head_text">Height </span>
                            <!-- <span class="client_name_head_text">Height <span class="star">*</span></span> -->
                            <div class="input_text">
                                <input   type="text" class="text" formControlName="height">
                                <!-- <input required pattern="^[0-9.]+\s?[A-Za-z]*$" type="text" class="text" formControlName="height"> -->
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="height.touched && height.invalid">
                            <!-- <div *ngIf="height.errors.required">Please enter Height.</div> -->
                            <div *ngIf="!!height.errors.pattern">Please enter valid number.</div>
                        </div>
                    </div>
                </div>
    
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block">
                            <!-- <span class="client_name_head_text">Dept <span class="star">*</span></span> -->
                            <span class="client_name_head_text">Depth</span>
                            <div class="input_text">
                                <input  type="text" class="text" formControlName="dept">
                                <!-- <input required pattern="^[0-9.]+\s?[A-Za-z]*$" type="text" class="text" formControlName="dept"> -->
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="dept.touched && dept.invalid">
                            <!-- <div *ngIf="dept.errors.required">Please enter Height.</div> -->
                            <div *ngIf="!!dept.errors.pattern">Please enter valid number.</div>
                        </div>
                    </div>
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
    
                    </div>
                </div>
    
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block1">
                            <span class="client_name_head_text">Description<span class="star">*</span></span>
                            <div class="input_text">
                                <textarea placeholder="Enter Parameter in <> bracket" name="" id="" cols="25" rows="5"
                                    style="float: left;" formControlName="description"></textarea>
                                <a class="preview_link" style="position: absolute;z-index: 9999" (click)="descriptionData(form.value.description)">preview</a>
                            </div>
                            <div class="alert alert-danger inl-blk" *ngIf="!!description?.touched && !!description?.invalid">
                                <div *ngIf="!!description.errors.required">Please enter Description.</div>
                            </div>
                        </div>
                    </div>
                    <div class="setMinHeight nopadding col-lg-6 col-md-6 col-sm-6">
                        <div class="project_To_duplicate_block1">
                            <span class="client_name_head_text">Parameter List</span>
                            <div class="input_text">
                                <table *ngFor="let product of paramList; let i=index">
                                    <tr style="font-size: 13px;">
                                        <td style="width:100px;">
                                            <b>{{ paramList[i].parameter }}</b>
                                        </td>
                                        <td style="width:120px;">
                                            <b>
                                                {{paramList[i].input}}
                                            </b>
                                        </td>
                                        <td style="width:100px;">
                                            <b>{{paramList[i].options}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-12 col-md-12 col-sm-12" *ngIf="showdescription">
                    <div class="nopadding col-lg-6 col-md-6 col-sm-6">
                        <span id="desc-heading">Final Description</span>
                        <textarea readonly name="" id="" cols="25" rows="5" formControlName="viewdescription" value="{{ viewdescription }}"></textarea>
                    </div>
                </div>
                <br *ngFor="let product of paramList"><br><br>
                <div *ngIf="formerror && form.invalid" class="alert alert-danger">
                    Please fill all the details
                </div>
                <div *ngFor="let errors of errorList; let i=index" class="alert alert-danger">
                    <span>{{errors}}</span> <br>
                </div>
                <div [ngClass]="{'backendErrorClass':this._communicationService.backendError}" *ngIf="this._communicationService.backendError">
                    {{this._communicationService.backendMsg}}
                </div>
                <!-- <pre>{{form.value |json}}</pre> -->
                <!-- <div class="col-lg-12 col-md-12" style="position: relative;">
                    <span class="client_name_head_text">&nbsp;</span>
                    <input type="submit" value="Submit" class="btn btn-success1" *ngIf="!edit" (click)="Submit(form.value)">
                    <input type="submit" value="Update" class="btn btn-success1" *ngIf="edit" (click)="Update(form.value)">
                    <input type="submit" value="Cancel" class="btn btn-success2" (click)="Cancel()">
                </div> -->
            </div>
        </form>
        <div class="col-lg-12 col-md-12 extraspace">
                <span class="client_name_head_text">&nbsp;</span>
                <div class="clientright">
                        <div class="clientInliner">
                            <input type="submit" value="Cancel" class="btn btn-success2" (click)="Cancel()">                    
                        </div>
                        <div class="clientInliner">
                                <input type="submit" value="Submit" class="btn btn-success1" *ngIf="!edit" (click)="Submit(form.value)" [disabled]="form.invalid">
                                <input type="submit" value="Update" class="btn btn-success1" *ngIf="edit" (click)="Update(form.value)" [disabled]="form.invalid">
                        </div>            
                </div>
            </div>
        <div class="col-lg-12 col-md-12" class="extrabottom">
    </div>
    
    <!-- edit message pop-up -->
    <p-dialog header="" 
    [(visible)]="display_message_for_product_msg" 
    [closable]="false" 
    [modal]="true" 
    [responsive]="true" 
    [minWidth]="200" 
    [minY]="70" 
    [maximizable]="false" 
    [baseZIndex]="10000" appendTo="body">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            {{this.message}}
        </div>
        <div class="ok_class">
            <button (click)="okMessageForProduct()" class="pop_button pop_button_orange">OK</button>
        </div>
    </div>
    </p-dialog>
    
    <p-dialog header="" 
    [(visible)]="warning_popup" 
    [closable]="false" 
    [modal]="true" 
    [responsive]="true" 
    [minWidth]="200" 
    [minY]="70" 
    [maximizable]="false" 
    [baseZIndex]="10000" appendTo="body">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            <span>Cannot add product as parameters are not added for selected item</span>
        </div>
        <div class="ok_class">
            <button (click)="okMessageForWarning()" class="pop_button pop_button_orange">OK</button>
        </div>
    </div>
    </p-dialog>