.container-fluid, .row{
    padding:0;
    margin:0;
}
.startingcolumn{
    padding:0;
    margin:0;
}
.left_title_block{
    width:166.54px;
    font-size: 29.01px;
    color:#FFFFFF;
    font-family:Helvetica;
    font-weight:600; 
}
.heading{
    font-size: 24px;
    color: #ffffff;
    position: relative;
    top: -110px;
    left: 35%;
    width: 39%;
    font-family: "Roboto Slab";	
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}   
:host >>> .ui-inputtext:focus{
    box-shadow: 0px 0px 0px #ffffff !important;
}
/* //header */
.header{
    height: 232px;
    padding:20px 34px 16px 34px;
    background: linear-gradient(90deg, #FF9802 0%, #FFD23E 100%);
}
.header_images{
    width:20px;
    height:20.84px;
}
.flipspace_wrapper{
    display: flex;
}
.right_wrapper{
    float:right;
}
.images_wrapper{
    display: inline-block;
    padding-right:20px;
}
.personname{
    height: 17px;
    /* width: 110px;	 */
    color: #FFFFFF;	
    font-family: Helvetica;	
    font-size: 14px;	
    font-weight: bold;	
    letter-spacing: 0.04px;	
    line-height: 17px;	
    text-align: center;
    padding:0;
    padding-right:15px;
}
.personimage{
    padding:0;
}
.left_title_block{
    width:166.54px;
    font-size: 29.01px;
    color:#FFFFFF;
    font-family:Helvetica;
    font-weight:600; 
}
.title1{
    font-size: 29.01px;
    font-family: Helvetica;
    float: right;
    position: relative;
    /* padding-left: 78px; */
    color: #FFFFFF;
    /* margin-left: 89px; */
    left: 40%;  
}
.title{
    margin-bottom:37.51px;
}
.star{
    color: red;
    line-height: 5px;
}
.maindiv{
    padding-left: 0px;
    padding-top: 15px;
    font-size: 13px;
    color:  #515151;
    font-weight: bold;
    font-family: "Roboto Slab";	
    height: 20%;
    width: 27%;
    border-radius: 4px;
    top: -100px;
    background-color: #FFFFFF;
    position: relative;
    left: 35%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    
}

/* .container1{
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-family: "Roboto Slab";
    font-size: 13px;
} */
a{
    cursor: pointer;
}

.btn-success1{
    float: right;
    position: relative;
    right: 2px;
    font-family: "Roboto Slab";	
    height: 33px;
    width: 40% ;
    border-radius: 4px;
    background-color: #FF9801;
    color: #FFFFFF;
}
span{
    font: bold;
}
.outerdiv{
    float: left;
}
a{
    color:#337ab7 !important;
    font-size: 12px;
}
.alert-danger{
    color: #e62d08;
    background-color: #ffffff !important; 
    border-color: #ffffff !important; 
}
.alert{
    /* text-align: right; */
    /* float: right; */
    font-size: 11px;
    padding: 5px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    border-radius: 4px;
}
.inputdiv{
    /* padding-top: 5px; */
    padding: 16px 0px 0px 0px;
    width: 99%;
    border-bottom: 1px solid #D3D3D3;
}
input{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 0px;
    color: #4A4A4A;	
    font-family: "Roboto Slab";	
    font-size: 18px;	
    line-height: 24px;

}
/* button border color */
.btn:focus {
    outline: 0;
    box-shadow: none;
}
@media only screen and (max-width:2560px){

    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 17%;
        border-radius: 4px;
        top: -100px;
        background-color: #FFFFFF;
        position: relative;
        left: 35%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    } 
}
@media only screen and (max-width:2000px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 22%;
        border-radius: 4px;
        top: -100px;
        background-color: #FFFFFF;
        position: relative;
        left: 35%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    } 
    .title1{
        font-size: 29.01px;
        font-family: Helvetica;
        float: right;
        position: relative;
        /* padding-left: 78px; */

        color: #FFFFFF;
        /* margin-left: 89px; */
        left: 41%;  
    }
}
@media only screen and (max-width:1440px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 26%;
        border-radius: 4px;
        top: -100px;
        background-color: #FFFFFF;
        position: relative;
        left: 35%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    } 
}
@media only screen and (max-width:1300px){
    .title1{
        font-size: 29.01px;
        font-family: Helvetica;
        float: right;
        position: relative;
        /* padding-left: 78px; */

        color: #FFFFFF;
        /* margin-left: 89px; */
        left: 33%;  
    }
}
@media only screen and (max-width:1170px){
    .title1{
        font-size: 29.01px;
        font-family: Helvetica;
        float: right;
        position: relative;
        /* padding-left: 78px; */
 
        color: #FFFFFF;
        /* margin-left: 89px; */
        left: 30%;  
    }
}
@media only screen and (max-width:1024px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 34%;
        border-radius: 4px;
        top: -100px;
        background-color: #FFFFFF;
        position: relative;
        left: 34%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    } 
.title1{
        float: right;
        position: relative;
        /* padding-left: 78px; */
        font-size: 29.01px;
        font-family: Helvetica;
        color: #FFFFFF;
        /* margin-left: 89px; */
        left: 21%;  
}
}
@media only screen and (max-width:900px){
    .title1{
        float: right;
        position: relative;
        /* padding-left: 78px; */
        font-size: 25px;
        font-family: Helvetica;
        color: #FFFFFF;
        /* margin-left: 89px; */
        left: 19%;  
}
}
@media only screen and (max-width:768px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 40%;
        border-radius: 4px;
        top: -50px;
        background-color: #FFFFFF;
        position: relative;
        left: 28%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    }   
    .title1{
        float: right;
        position: relative;
        /* padding-left: 78px; */
        font-size: 19px;
        font-family: Helvetica;
        color: #FFFFFF;
        /* margin-left: 89px; */
        left: 42%;  
}
.heading{
    font-size: 21px;
    color: #ffffff;
    position: relative;
    top: -54px;
    left: 29%;
    width: 39%;
    font-family: "Roboto Slab";	
}
    a{
        font-size: 10px;
    }
    .header{
        height: 74px;
        padding: 5px 5px 5px 5px;
    }
    .logoclass{
        width:30px;
        height:20px;
    }
    .left_title_block{
        width: 70px;
        font-size: 11px;
    }
    .images_wrapper{
        padding-right: 10px
    }
    .personname{
        /* width: 48px; */
        font-size: 8px;
        padding-right:10px;
    }
    .man_image{
        width:20px;
        height:20px;
        padding-right:0 !important;
    }
    .left_title_block{
        font-size: 16px;
    }
    
}

@media only screen and (max-width:360px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 70%;
        border-radius: 4px;
        top: -50px;
        background-color: #FFFFFF;
        position: relative;
        left: 15%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    }  
}

@media (max-width:375px){
    .left_title_block{
        font-size: 14px;
    }
}
    
@media (max-width:320px){
    .header_images{
        width: 15px;
        height: 15px;
    }
    .images_wrapper{
        padding-right: 7px;
    }
    .left_title_block{
        font-size: 12px
    }
}