<div class=" heading">
    <span class="leftheading">Login</span>
    <!-- <span class="rightheading">You are here : Vendor</span> -->
</div>
<div class="maindiv col-lg-12 col-sm-12">
  <form [formGroup]="form">
    <div class="container1 col-lg-12">
        <div class="inputdiv">
            <div><span for="Username">User Name  </span> <span class="star">*</span></div>
            <div><input type="text" formControlName="username" id="Username" (keydown)="onkeyDownAllFields()"></div> 
        </div>
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
          Please Enter User Name
        </div>
        <div class="inputdiv">
            <div>Password <span class="star">*</span></div>
            <div> <input type="password" formControlName="password" (keydown)="onkeyDownAllFields()"></div> 
        </div>
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          Please Enter Password
        </div>
        <div *ngIf="invalidate" class="alert alert-danger col-lg-12 col-md-12">
          {{this.message}}
        </div>
        <div *ngIf="privilege" class="alert alert-danger col-lg-12 col-md-12">
          <!-- No Privilege present for this user. -->
          You do not have required previllages to access the application.
        </div>
        <div [ngClass]="{'backendErrorClass':this._communicationservice.backendError}" *ngIf="this._communicationservice.backendError">
          {{this._communicationservice.backendMsg}}
        </div>
        <div *ngIf="formerror && form.invalid" class="alert alert-danger">
                Please fill all the details
            </div>
          <br><br>
        <div>
            <a (click)="reset()">Forgot Password ?</a>
          <input type="submit" value="Log in" class="btn btn-success1" (click)="validate(form.value)" [disabled]="form.invalid"> &nbsp;
        </div><br>
    </div>
</form>
</div>


