<div class="project_wrapper" *ngIf="!edit">
    <div class="nopadding title col-lg-12 col-md-12 col-sm-12">
        <span class="titleleft">Employee Listing</span>
        <span class="titleright">You are here : Employee Listing</span>
    </div>
    <div class="maindiv row">
        <div class="tablecontainer">
            <p-table #dt [columns]="cols" [value]="employees" selectionMode="single" [paginator]="true" [rows]="10" [totalRecords]=[employeeslength] class="some-custom-class-name" [resizableColumns]="true" #ptext (keyup)="0">
                <ng-template pTemplate="caption">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6  searchtop">
                                <div class="search_button_wrapper">
                                    <div class="search_wrapper">
                                        <input type="text" class="inputtextsearch" placeholder="Search for Employees" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                    </div>
                                    <div class="button_wrapper">
                                        <button class="searchiconbutton">
                                            <img src="assets/images/BlueIcons/icons8-search-40.png" class="search_image_icon">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" pResizableColumn>
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" class="ui-resizable-column">
                            <div *ngIf="col.header == 'Action' else elseBlock">
                                <button *ngIf="isEdit" pButton type="button" icon="fa fa-pencil" (click)="editEmployeeData(dt,rowIndex)" data-toggle="tooltip" title="Edit"></button>
                                &nbsp;
                                <button *ngIf="isDelete" pButton type="button" icon="fa fa-trash" (click)="delete(dt,rowIndex)" data-toggle="tooltip" title="Delete"></button>
                            </div>
                            <ng-template #elseBlock>
                                {{rowData[col.field]}}
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="norecords" class="alert-danger alert">
                No records to display
            </div>
            <div [ngClass]="{'backendErrorClass':this._communicateService.backendError}" *ngIf="this._communicateService.backendError">
                {{this._communicateService.backendMsg}}
            </div>
        </div>
        <div class="addbtn">
            <input *ngIf="isAdd" type="submit" value="Add Employee" class="btn btn-success1" (click)="showDialogToAdd()">
        </div>
    </div>
</div>
<div class="popup">
    <p-dialog [(visible)]="displayaddnewvariant" [modal]="true" [responsive]="true" [width]="800" [maximizable]="false" [baseZIndex]="10000" [contentStyle]="{'height': '700px'}">
        <app-add-employee *ngIf="displayaddnewvariant" [parentToChild]=sendEmpIdToChild (childToParent)="childToParent($event)"></app-add-employee>
    </p-dialog>
</div>
<p-dialog header="" [(visible)]="displayopenclose" [closable]="false" [modal]="true" [responsive]="true" [minWidth]="200"
    [minY]="70" [maximizable]="false" [baseZIndex]="10000">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            Are you sure you want to delete?
        </div>
        <div class="popup_yesno">
            <div>
                <button (click)="showOpenCloseDialog()" class="pop_button pop_button_orange">YES</button>
            </div>
            <div class="pop_left_space">
                <button (click)="closeOpenCloseDialog()" class="pop_button pop_button_silver">NO</button>
            </div>
        </div>
    </div>
</p-dialog>
<p-dialog header="" [(visible)]="display_message_for_delete" [closable]="false" [modal]="true" [responsive]="true" [minWidth]="200"
    [minY]="70" [maximizable]="false" [baseZIndex]="10000">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            <span>{{this.message}}</span>
        </div>
        <div *ngIf="!employeepresent">
            <button (click)="okMessageForDelete()" class="pop_button pop_button_orange">OK</button>
        </div>
        <div *ngIf="employeepresent">
            <button (click)="close_display_message_for_delete()" class="pop_button pop_button_orange">OK</button>
        </div>
    </div>
</p-dialog>