.nopadding{
    padding: 0px;
}
.maindiv{
    border-radius: 4px;
    background:transparent;
    width: 82%;
    position: relative;
    position: relative;
    left: 20%;
}
a{
    color: #007bff !important;
}
a:hover {
    color: #0056b3;
    text-decoration: underline !important;
}
.title{
    /* display: block; */
    position: relative;
    left: 20%;
    color: #FFFFFF;
    margin-bottom: 28.55px;
    width: 49%;
}
.tablecontainer{
    width: 60%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}
/* search box */
.search_button_wrapper{
    display: flex;
    height: 30px;	
    width: 100%;	
    border: 1px solid #D3D3D3;	
    border-radius: 4px;	
    background-color: #F9F9F9;
    /* padding-left:9px; */
    /* padding:6px 0px 6px 9px; */
}
.searchtop{
    padding-top: 20px;
}
.project_wrapper{
    position: relative;
    top: -131px;
    padding-left: 34px;
    padding-right: 34px;
    height: 700px;
}

.titleleft{
    font-size: 24px;
    font-family: "Roboto Slab";
}
.titleright{
    float: right;
    font-size: 12px;
    font-family: "Helvetica";
    font-weight: bold;
    letter-spacing: 0.04px;
    line-height: 40px;
    text-align: right;
}
.inputtextsearch{
    height: 20px;	
    width: 100%;	
    color: #818181;	
    font-family: "Roboto Slab";	
    font-size: 13px;	
    line-height: 18px;
    padding-left: 5px;
    padding-bottom:0 !important;
    padding-top:0 !important;
    border: none;
    background-color: #F9F9F9;
}
.search_wrapper{
    width: 90%;
}
.searchiconbutton{
    width:20px;
    height:20px;
    padding:0px;
    position: relative;
    top:3px;
    border: none;
    background-color: #F9F9F9;
}
.search_image_icon{
    position: relative;
    top: -2px;
    height: 20px;
    width:20px;
    background-color: #F9F9F9;    
}

/* last pop up */
.contain{
    /* margin-left: 10px;
    margin-bottom: 15px; */
    margin:0
}

.heading{
    color: #ffaa14;
    width: 100%;
}
.leftheading{
    font-size: 24px;
}
.maindiv1{
    margin-bottom: 20px;
    padding: 10px;
    margin: 0px;
    width: 95%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    padding-bottom: 15px;
    font-family:  "Roboto Slab-Bold";
    border-radius: 4px; 
}
.txtarea{
    margin-top: 3%;
}
.project_To_duplicate_block{
    padding:16px 0px 5px 0px;
    height: 70px;
    width: 95%;
    border-bottom: 1px solid #D3D3D3;    
}
.client_name_head_text{	
    color: #515151;	
    font-family: "Roboto Slab-Bold";	
    font-size: 13px;		
    line-height: 18px;
    display: block;
    margin-bottom:5px;
}
.input_text, select{
    width: 100%;
    color: #4A4A4A;
    font-weight: normal;
}
.plusimg{
    float: right;
    height: 20px;
    width: 20px;
    /* size: 20px 20px; */
}
.btn1{
    border: none;
    line-height: 3px;
    bottom: 10px;
    float:right;
    position: relative;
    /* right: 2px; */
    font-family: "Roboto Slab";
    height: 33px;
    width: 25%;
    border-radius: 4px;
    color: #FFFFFF;
}
.btn-success11{
    background-color: #FF9801;
}
.btn-success21{
    margin-right: 5px;
    background-color: #909090;
}
:host >>> .ui-widget input{
    border: none;
}
/* ng-prime table color css */
::ng-deep .ui-table .ui-table-thead>tr>th{
    padding-left:10px;
    padding-top:5px;
    padding-bottom:13px;
    border:none;
    background: #FFFFFF;
    word-wrap: break-word;
    color: #515151;
}
.categories_image_class{
    position: relative;
    height: 24px;
    float: right;
    margin-right: 25px;
    z-index: 1000;
    cursor: pointer;
}
.popuphead{
    color: #ffca35;
    padding-left: 50px;
    font-family: "Roboto Slab";
    font: bold;
}
.popup{
    background-color: #f9f9f9 !important;

}
.star{
    color: red;
}
::ng-deep .ui-table .ui-table-tbody > tr > td{
    /* background: #F9F9F9; */
    /* background: #FFFFFF; */
    padding-left:10px;
    padding-top:13px;
    padding-bottom:13px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid#D3D3D3;
    word-wrap: break-word;
    color: #515151;    
}
/* onclick no border color */
input:focus, textarea:focus, select:focus,submit:focus, button:focus {
    outline-offset: 0px !important;
    outline: none !important;
}   

.some-custom-class-name::ng-deep th {
    height: 18px;		
    color: #515151;	
    font-family: "Roboto Slab-Bold";	
    font-size: 13px;	
    line-height: 18px;
    /* background: #FFFFFF;     */
}
.some-custom-class-name::ng-deep td{
    height: 18px;	
    color: #515151;	
    font-family: "Roboto Slab";	
    font-size: 13px;	
    line-height: 18px;   
}

.addbtn{
    margin-left: 5px !important;
    line-height: 3;
}
.btn{
    font-family: "Roboto Slab";
    border-radius: 4px;
    /* bottom: 10px; */
   
    width: 95%;
    border-radius: 4px;
    color: #FFFFFF;
}
.btn-success1{
    height: 35px;
    font-size: 18px;
    background-color: #FF9801;
    line-height: 3px;
}
.text{
    width: 93%;
}

/* for alterntaive row color change of the table */
/* ::ng-deep .ui-table .ui-table-tbody > tr > td:nth-child(even) {background: red}
::ng-deep .ui-table .ui-table-tbody > tr > td:nth-child(odd) {background:yellow} */
::ng-deep .ui-table .ui-table-tbody > tr > td:first-child { font-family: "Roboto Slab-Bold";	}

/* header */
::ng-deep .ui-widget-header {
    border: none;
    background: #FFFFFF;
}
::ng-deep .ui-table-caption{
    margin-top:0;
    padding:0 0 20px 0;
    background: #FFFFFF;
    border-radius: 4px;
}

/* paginator */
::ng-deep .ui-paginator .ui-paginator-page.ui-state-active{
    /* height: 30px;	
    width: 25px;	 */
    border-radius: 4px;	
    background-color: #4DE2EE;
    border-color: #4DE2EE;
}
::ng-deep .ui-table .ui-paginator-bottom{
    margin-top:30px;
}

/* click color change */
button:focus, textarea:focus, select:focus, submit:focus {
    outline-offset: 0px !important;
    outline: none !important;
}   
:host >>> .ui-inputtext:focus{
    box-shadow: 0px 0px 0px #ffffff !important;
}
/* alternate rows color change */
:host >>> .ui-table .ui-table-tbody > tr {
	background-color: #F9F9F9;
}
:host >>> .ui-table .ui-table-tbody > tr:nth-child(even){
    background-color: #ffffff;
}
:host >>> .ui-state-highlight a{
    color: #007bff;
}
/* pop open close */
.pop_open_close_wraper{
    padding:20px;
}
.popup_yesno{
    text-align: center;
    display: flex;
}
.pop_button{
    height: 37px;
    width: 110px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-family: "Roboto Slab-Bold";
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.pop_button_orange{
    background: #FF9801;
}
.pop_button_silver{
    background-color: #909090;
}
.pop_left_space{
    padding-left:20px;
}
.pop_open_close_bottom{
    padding-bottom:20px;
    color: #515151;	
    font-family: "Roboto Slab-Bold";	
    font-size: 15px;	
}
.ok_class{
    text-align: center;
}
/* pop-up latest */
:host>>> .ui-dialog .ui-dialog-titlebar-icon span{
    display: none;
}
:host >>> .ui-dialog .ui-dialog-titlebar {
    padding:0;
}
:host >>> .ui-dialog.ui-widget .ui-dialog-titlebar {
    padding:0;
}
:host >>> .ui-dialog.ui-widget .ui-dialog-content{
    padding:0;    
}
:host >>> .ui-dialog .ui-dialog-content {
    padding:0;        
}
/* dropdown */
:host >>> .ui-dropdown {
    width: 100% !important;
}
:host >>> .ui-table .ui-paginator-bottom {
    margin-bottom: 35px !important;
    background: #f6f6f6 !important;
}
.redclass{
    padding-left: 10px;
    color:red;
    font-family: "Roboto Slab-Bold";
    font-size: 12px;
}
/* media query */
@media (max-width:3000px){

    .maindiv{
        /* border-radius: 4px;
        background-color: #FFFFFF;
        position: relative;
        width: 38%;
        position: relative;
        left: 29%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5); */
        border-radius: 4px;
        background:transparent;
        width: 82%;
        position: relative;
        position: relative;
        left: 20%;
    }
    .title{
        /* display: block; */
        position: relative;
        left: 20%;
        color: #FFFFFF;
        margin-bottom: 28.55px;
        width: 48%;
    }
    .addbtn{
        margin-left: 10% !important;
        line-height: 3;
    }
}
@media (max-width:1440px){
    .maindiv{
        /* border-radius: 4px;
        background-color: #FFFFFF;
        position: relative;
        width: 43%;
        position: relative;
        left: 29%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5); */
        border-radius: 4px;
        background:transparent;
        width: 82%;
        position: relative;
        position: relative;
        left: 20%;
    }
    .title{
        /* display: block; */
        position: relative;
        left: 20%;
        color: #FFFFFF;
        margin-bottom: 28.55px;
        width: 59%;
    }
    .btn{
        width: 97%;
    }
    .tablecontainer{
        width: 75%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
    .addbtn{
        margin-left: 7% !important;
        line-height: 3;
    }
}
@media (max-width:1370px){
    .maindiv{
        /* border-radius: 4px;
        background-color: #FFFFFF;
        position: relative;
        width: 50%;
        position: relative;
        left: 25%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5); */
        border-radius: 4px;
        background:transparent;
        width: 82%;
        position: relative;
        position: relative;
        left: 20%;
    }
    .title{
        /* display: block; */
        position: relative;
        left: 20%;
        color: #FFFFFF;
        margin-bottom: 28.55px;
        width: 60%;
    }
}
@media (max-width:1024px){
    .maindiv{
        border-radius: 4px;
        background:transparent;
        width: 95%;
        position: relative;
        position: relative;
        left: 8%;
    }
    .tablecontainer{
        width: 75%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
    .addbtn{
        margin-left: 3% !important;
        line-height: 3;
    }
    .title{
        /* display: block; */
        position: relative;
        left: 8%;
        color: #FFFFFF;
        margin-bottom: 28.55px;
        width: 69%;
    }
    .inputtextsearch {
        width: 291px;
       }
       .budgeting{
           width: 85px;
       }
       .rightsidebuttons_text{
           font-size: 12px;
       }
       .search_button_wrapper{
           width: 340px;
       }
}
@media (max-width:1200px){
    .inputtextsearch {
        width: 304px;
       }
       .budgeting{
           width: 95px;
       }
       .rightsidebuttons_text{
           font-size: 12px;
       }
       .search_button_wrapper{
           width: 356px;
       }
}
@media (max-width:992px){
    .maindiv{
        /* border-radius: 4px;
        background-color: #FFFFFF;
        position: relative;
        width: 71%;
        position: relative;
        left: 17%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5); */
        border-radius: 4px;
        background:transparent;
        width: 92%;
        position: relative;
        position: relative;
        left: 12%;
    }
    .title{
        /* display: block; */
        position: relative;
        left: 12%;
        color: #FFFFFF;
        margin-bottom: 28.55px;
        width: 67%;
    }
    .addbtn{
        margin-left: 1% !important;
        line-height: 3;
    }
    .inputtextsearch {
        width: 252px;
       }
       .budgeting{
           width: 72px;
       }
       .rightsidebuttons_text{
           font-size: 10px;
       }
       .search_button_wrapper{
           width: 300px;
       }
}

@media (max-width:860px){
    .inputtextsearch {
     width: 215px;
    }
    .budgeting{
        width: 62px;
    }
    .color_budgeting{
        width: 62px;
    }
    .rightsidebuttons_text{
        font-size: 8px;
        top:-2px;
    }
    .color_rightsidebuttons_text{
        font-size: 8px;
        top:-2px;
    }
    .search_button_wrapper{
        width: 265px;
    }
    .inputtextsearch{
        font-size:11px;
    }
}

