<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 startingcolumn header">
      <div class="row">
        <div class="col-12 col-md-12 startingcolumn title">
          <div class="row">
            <div class="col-lg-12 col-md-12 startingcolumn left_title">
              <div class="flipspace_wrapper">
                <div class="flipspacelogo">
                  <img src="assets/images/ColorImages/logo.png" class="logoclass">
                </div>
                <div class="flipspacename">
                  <span class="left_title_block">FLIPSPACES</span>
                </div>
                <div class="title1">
                  <span>WORK ORDER MANAGEMENT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project header -->
        <div class="col-12 col-md-12 startingcolumn project">
          <div class="row">
            <div class="col-6 col-md-6 startingcolumn project_left">
              <div class="project_text">
           
                <!-- <span>Projects</span> -->
              </div>
            </div>
            <div class="col-6 col-md-6 startingcolumn project_right">
              <div class="breadcrum_wrapper">
                <!-- <span id="a">You are here:</span><span>projects</span>  -->
              </div>
            </div>
          </div>
        </div>
      
        <!-- bitton header -->
        <div class="col-12 startingcolumn project_button_wrappper">
          <div class="project_button_block">
            <!-- <button class="add_project_button"><label class="add_project_button_text">ADD NEW PROJECT</label></button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>