    .inputdiv{
    padding-top: 5px;
    width: 99%;
    border-bottom: 1px solid #D3D3D3;
}
.heading{
    font-size: 24px;
    color: #ffffff;
    position: relative;
    top: -110px;
    left: 35%;
    width: 39%;
    font-family: "Roboto Slab";	
}
.text{
    height: 24px;
}
h3{
    padding-top: 5px;
    padding-left: 15px;
    color: #515151;
    font-size: 15px;
    font-weight: bold;
}
.star{
    color: red;
    line-height: 5px;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}   
:host >>> .ui-inputtext:focus{
    box-shadow: 0px 0px 0px #ffffff !important;
}
.button{
    margin-bottom: 10px;
}
input{
    width: 199px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 0px;
    color: #4A4A4A;	
    font-family: "Roboto Slab";	
    font-size: 18px;	
    line-height: 24px;

}
.maindiv{
    padding-left: 0px;
    padding-top: 15px;
    font-size: 13px;
    color:  #515151;
    font-weight: bold;
    font-family: "Roboto Slab";	
    height: 20%;
    width: 27%;
    border-radius: 4px;
    top: -90px;
    background-color: #FFFFFF;
    position: relative;
    left: 35%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    
}
.btn{
    bottom: 10px;
    float:right;
    position: relative;
    /* right: 2px; */
    font-family: "Roboto Slab";
    height: 33px;
    width: 25%;
    border-radius: 4px;
    color: #FFFFFF;
}
.btn-success1{
    background-color: #FF9801;
}
.btn-success2{
    margin-right: 5px;
    background-color: #909090;
}
span{
    font: bold;
}
.successfullclass{
    /* float: right; */
    color: green;
    font-size: 11px;
    font-family: "Roboto Slab";	    
    
}
.alert-danger{
    color: #e62d08;
    background-color: #ffffff !important; 
    border-color: #ffffff !important; 
    font-family: "Roboto Slab";	        
}
.alert{
    /* text-align: right; */
    /* float: right; */
    font-size: 11px;
    padding: 5px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: "Roboto Slab";	    
    
}
/* button border color */
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.pop_open_close_wraper{
    padding:20px;
    text-align:center;
}
.pop_button{
    height: 37px;
    width: 110px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-family: "Roboto Slab-Bold";
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.pop_button_orange{
    background: #FF9801;
}
.pop_open_close_bottom{
    padding-bottom:20px;
    color: #515151;	
    font-family: "Roboto Slab-Bold";	
    font-size: 15px;	
}
:host >>> .ui-dialog{
    min-height:100px !important;
}
:host >>> .ui-dialog .ui-dialog-titlebar {
    padding:0;
}
:host >>> .ui-dialog.ui-widget .ui-dialog-titlebar {
    padding:0;
}
:host >>> .ui-dialog.ui-widget .ui-dialog-content{
    padding:0;    
}
:host >>> .ui-dialog .ui-dialog-content {
    padding:0;        
}
@media only screen and (max-width:3000px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 20%;
        border-radius: 4px;
        top: -90px;
        background-color: #FFFFFF;
        position: relative;
        left: 36%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    } 
    .heading{
        font-size: 24px;
        color: #ffffff;
        position: relative;
        top: -110px;
        left: 36%;
        width: 39%;
    }
}
@media only screen and (max-width:2000px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 32%;
        border-radius: 4px;
        top: -100px;
        background-color: #FFFFFF;
        position: relative;
        left: 30%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    } 
    .heading{
        font-size: 24px;
        color: #ffffff;
        position: relative;
        top: -110px;
        left: 30%;
        width: 39%;
    }
}
@media only screen and (max-width:1024px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 42%;
        border-radius: 4px;
        top: -100px;
        background-color: #FFFFFF;
        position: relative;
        left: 30%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    } 
    .heading{
        font-size: 24px;
        color: #ffffff;
        position: relative;
        top: -110px;
        left: 30%;
        width: 39%;
    }
}
@media only screen and (max-width:768px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 60%;
        border-radius: 4px;
        top: -100px;
        background-color: #FFFFFF;
        position: relative;
        left: 20%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    }   
    .heading{
        font-size: 24px;
        color: #ffffff;
        position: relative;
        top: -110px;
        left: 20%;
        width: 39%;
    }
}
@media only screen and (max-width:360px){
    .maindiv{
        font-family: "Roboto Slab";	
        height: 20%;
        width: 70%;
        border-radius: 4px;
        top: -50px;
        background-color: #FFFFFF;
        position: relative;
        left: 15%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);     
    }  
    .heading{
        font-size: 24px;
        color: #ffffff;
        position: relative;
        top: -110px;
        left: 15%;
        width: 39%;
    }
}
