<!-- <header></header> -->
<div class=" heading">
        <span class="leftheading">Change Password</span>
        <!-- <span class="rightheading">You are here : Vendor</span> -->
</div>
<div class="maindiv col-lg-12 col-sm-12">
    
    <form [formGroup]="form">
      <div class="container1 col-lg-12">
          <div class="inputdiv">
              <span>Old Password <span class="star">*</span></span><br>
              <span><input type="password" class="text" formControlName="oldPassword" (keydown)="onkeyDownAllFields()"></span> 
          </div>
          <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
                <div *ngIf="oldPassword.errors.required">
                    Old password is required.
                </div>
                <!-- <div *ngIf="oldPassword.errors.invalidOldPassword">
                    Old password is invalid.
                </div> -->
        </div>
        <!-- <div *ngIf="oldpasswordnotmatched" class="alert alert-danger">
            Old password didnot matched
        </div> -->
          <br>
          <div class="inputdiv">
              <span>New Password <span class="star">*</span></span> &nbsp;<br>
              <span> <input type="password" class="text" formControlName="newPassword" (keydown)="onkeyDownAllFields()"></span> 
          </div>
          <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
                <div *ngIf="newPassword.errors.required">New password is required.</div>
        </div>
            <br>
            <div class="inputdiv">
                <span>Confirm New Password  <span class="star">*</span></span> &nbsp;<br>
                <span> <input type="password" class="text" formControlName="confirmPassword" (keydown)="onkeyDownAllFields()"></span> 
            </div>
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">Confirm password is required.</div>
            </div>
                <div *ngIf="confirmPassword.valid && form.invalid && form.hasError('passwordsShouldMatch')" class="alert alert-danger">
                    Passwords do not match.
                </div>
                <div *ngIf="formerror && form.invalid" class="alert alert-danger">
                        Please fill all the details
                </div>
                <div class="alert alert-danger" *ngIf="!successfullpasswordchange">
                    <!-- Password Changed Succesfully -->
                    {{this.message}}
                </div>
                <div [ngClass]="{'backendErrorClass':this._communicationservice.backendError}" *ngIf="this._communicationservice.backendError">
                    {{this._communicationservice.backendMsg}}
                </div>
            <br>
            <div class="button"> 
                <input type="submit" value="Update" class="btn btn-success1" (click)="changePassword(form.value)" [disabled]="form.invalid">
                <input type="submit" value="Cancel" class="btn btn-success2" (click)="cancel()">
              </div>
          <br>
      </div>
      </form>
  </div>

  <p-dialog header="" [(visible)]="display_message_popup" [closable]="false" [modal]="true" [responsive]="true" [minWidth]="200"
    [minY]="70" [maximizable]="false" [baseZIndex]="10000">
    <div class="pop_open_close_wraper">
        <div class="pop_open_close_header pop_open_close_bottom">
            <span>{{this.message}}</span>
        </div>
        <div>
            <button (click)="okMsg()" class="pop_button pop_button_orange">OK</button>
        </div>
    </div>
</p-dialog>